{% extends 'admin/base.html.twig' %}


{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form_search 'bootstrap_3_layout.html.twig' %}

{% set use_modal = 'add' %}

{% set is_search_opened = app.request.query.has('search_on') %}
{% set exportData = app.request.query.all() %}

{% block stylesheets %}
	{{ parent() }}

	<style>

		#data-loading{
			display: none;
		}

		body #infinite-loading{
			display: none;
		}

		body.infinite-scroll-active #infinite-loading{
			display: block;
		}

	</style>

	

{% endblock %}

{% block header_content %}
    Les Catalogue <small>gestions des catalogues de la plateforme</small>
{% endblock %}



{% block body_content %}
	
	{{ include('admin/modal-info.html.twig') }}

	<div class="modal modal-danger fade" id="myModal">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              			<span aria-hidden="true">×</span>
              		</button>
            		<h4 class="modal-title">Confirmation...</h4>
          		</div>
          
          		<div class="modal-body">
          			<h4>Voulez-vous vraiment supprimer ce catalogue ?</h4>

            		<p>
            			Attention cette action est irreversible.
            		</p>

          		</div>
          
          		<div class="modal-footer">
            		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
            			Annuler
            		</button>

            		<button type="submit" class="btn btn-outline">Valider</button>
          		</div>
        	</div>
      	</div>
    </div>

    <div class="modal fade" id="modal-loading">
    	<div class="modal-dialog">
        	<div class="modal-content" style="background:none;box-shadow:none">
          		<div class="modal-body text-center" style="background:none;color:#ffffff">
					<i  class="fa fa-spinner fa-spin fa-5x text-white"></i>
          		</div>
        	</div>
      	</div>
    </div>

    

    <div id="modal-update-area"></div>
    
    <div id="modal-add-area">
	    {{ include('admin/catalog/selected-view.html.twig') }}
    </div>


    <div class="modal modal-danger fade" id="modal-downloads">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Les Téléchargements...</h4>
                </div>
          
                <div class="modal-body">
                    
                    <div style="text-align:center" class="loading">
                        <i  class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- generation -->
    <div class="modal modal-primary fade" id="modal-generate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Générer un catalogue...</h4>
                </div>
                
                <form action="{{ path('admin_catalog_generate') }}" enctype="multipart/form-data" method="POST">
                    <div class="modal-body">
                        <input name="file" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,  
application/vnd.ms-excel.sheet.macroEnabled.12"  >

                    </div>

                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
                            Annuler
                        </button>

                        <button type="submit" class="btn btn-outline">Envoyer</button>

                    </div>
                </form>


            </div>
        </div>
    </div>

    {% for notice in app.flashes('notice-success') %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Félicitation!</h4>
            {{ notice }}
        </div>
    {% endfor %}


    {% for notice in app.flashes('notice-error') %}

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Attention!</h4>
            {{ notice }}
        </div>
    {% endfor %}


   

	<div class="row">
    	<div class="col-xs-12 col-md-12">
    		<div class="row">
    			<div class="col-md-12">
    				<button  data-toggle="modal" data-backdrop="static" data-target="#modal-insert" class="btn btn-sm btn-primary">
		  				<i class="fa fa-plus"></i>&nbsp;&nbsp;Nouveau
		  			</button>

                    <button  data-toggle="modal" data-backdrop="static" data-target="#modal-generate" class="btn btn-sm btn-primary">
                        <i class="fa fa-file"></i>&nbsp;&nbsp;Générer
                    </button>
    			</div>
    		</div>

    		<br>
    		
    		<div class="box box-primary {{ is_search_opened ? '' : 'collapsed-box' }}">
    			<div class="box-header">
              		<h3 class="box-title">Recherches detaillées</h3>

              		<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa {{ is_search_opened ? 'fa-minus' : 'fa-plus' }}"></i>
                		</button>
			  		</div>
            	</div>

    			{{ form_start(form_search,{"method":"GET"}) }}
	    			<div class="box-body">
	                    <div class="row">

	                    	<div class="col-md-4 col-sm-6 col-xs-12">
	                            {{ form_row(form_search.catalog, {"attr":{"class":"form-control-sm input-sm"}}) }}
	                        </div>


	                    	<div class="col-md-4 col-sm-6 col-xs-12">
	                        	{{ form_row(form_search.year, {"attr":{"class":"form-control-sm input-sm","min":2000},"placeholder":'debut de production'}) }}
	                        </div>

	                        <div class="col-md-4 col-sm-6 col-xs-12">
	                        	{{ form_row(form_search.published, {"attr":{"class":"form-control-sm"}}) }}
	                        </div>

	                    </div>   

	                    <div class="row">
	                    	
                    		<div class="col-md-2">
                        		{{ form_row(form_search.order_year, {"attr":{"class":"form-control-sm input-sm","label":"Affichage par année"}}) }}
                    		</div>

                    		<div class="col-md-2">
                        		{{ form_row(form_search.order_id, {"attr":{"class":"form-control-sm input-sm","label":"Affichage par entrée"}}) }}
                    		</div>

                    		<div class="col-md-2">
                        		{{ form_row(form_search.limit, {"attr":{"class":"form-control-sm input-sm text-center"}}) }}
                    		</div>
	                        	
	                    </div>
	    			</div>

	    			<div class="box-footer">

	    				<input type="hidden" name="search_on" value="1" />

	                    <button type="submit" class="btn btn-primary">
	                    	Rechercher
	                    </button>

	                    {% if is_search_opened %}
	                    	{% set exportData = app.request.query.all() %}
	                    	<span class="pull-right">
	                    		

	                            <a  href="{{ path('admin_catalog_index') }}"  class="btn btn-primary btn-sm">
	                                <i class="fa fa-trash"></i>  Vider les champs
	                            </a>
	                    	</span>
                            
                        {% endif %}
	    			</div>
	    		{{ form_end(form_search) }}

    		</div>

        	<div class="box box-primary">
            	<div class="box-header">
              		<h3 class="box-title">Tous les catalogues</h3>

              		<div class="box-tools pull-right">
						
							
						<form class="has-feedback" style="display:inline-block">
			      			<input name="q" type="text" class="form-control input-sm" placeholder="Recherche...">
			      			<span class="glyphicon glyphicon-search form-control-feedback"></span>
			    		</form>
			  		</div>
            	</div>

            
            	<!-- /.box-header -->
            	<div class="box-body table-responsive no-padding" id="data-container">
              		<table class="table table-hover">
		                <thead>
		                	<tr>
		                 		<th>Type</th>
		                 		<th style="text-align:center">Lien</th>
		                 		<th style="text-align:center">Année</th>
		                 		<th style="text-align:center">Publié</th>
		                 		<th style="text-align:center">Téléchargements</th>
		                 		<th style="text-align:center">Ajouté le</th>
		                	</tr>	               
	              		</thead>

	              		<tbody>
	              			{{ include('admin/catalog/item-render.html.twig') }}
	              		</tbody>
              		</table>
            	</div>
            </div>

            <div style="text-align:center" id="infinite-loading">
				<i  class="fa fa-spinner fa-spin fa-3x"></i>
			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
    {#<script src="{{ asset('admin/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/admin/manager.js','js') }}"></script>
	<script src="{{ asset('js/admin/catalog/manager.js','js') }}"></script>
	<script src="{{ asset('js/admin/catalog/index.js','js') }}"></script>#}


    {% javascripts 
        'admin/plugins/jQueryUI/jquery-ui.min.js' 
        'js/admin/manager.js' 
        'js/admin/catalog/index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

