<div class="box box-primary">
	<div class="box-header with-border">
  		<h3 class="box-title">Boite de reception</h3>

  		<div class="box-tools pull-right">
    		<form class="has-feedback">
      			<input name="q" type="text" class="form-control input-sm" placeholder="Recherche de mail...">
      			<span class="glyphicon glyphicon-search form-control-feedback"></span>
    		</form>
  		</div>
	</div>

	<!-- /.box-header -->
	<div class="box-body no-padding">
  		
  		<div class="table-responsive mailbox-messages">
    		<table class="table table-hover table-striped">
      			<tbody>

      				{% for item in messages %}

                        {% set hours =  item.createAt|dateDiff(date("now"))|date("%H") %}
                        {% set minutes =  item.createAt|dateDiff(date("now"))|date("%I") %}
                        {% set seconds =  item.createAt|dateDiff(date("now"))|date("%s") %}

                        {% set days =  item.createAt|dateDiff(date("now"))|date("%a") %}
                        {% set weeks =  (days / 7)|round(0,'floor') %}
                        {% set months =  (weeks / 4)|round(0,'floor') %}
                        {% set years =  (months / 12)|round(0,'floor') %}

          				<tr>
            				<td>
            					<input type="checkbox">
            				</td>

            				<td class="mailbox-name">
            					<a href="{{ path('admin_webmail_index',{'message_id':item.id}) }}">
            						{{ item.firstname~' '~item.lastname|lower|title }}
            					</a>
            				</td>

            				<td class="mailbox-subject" style="">
            					<b>
            						{{ item.department.name|lower|title }}
            					</b> -
								
								{{ item.subject }}

            				</td>
            
            				<td class="mailbox-date">
                                il ya
                                {% if years %}
                                    {{ years }} ans
                                {% elseif months %}
                                    {{ months }} mois
                                {% elseif weeks %}
                                    {{ weeks }} sems
                                {% elseif days %}
                                    {{ days }} jrs
                                {% elseif hours != "00" %}
                                    {{ hours  }} heures
                                {% elseif minutes != "00" %}
                                    {{ minutes }} mins
                                {% else %}
                                    A l'instant
                                {% endif %}
                            </td>
          				</tr>
      				{% endfor %}
      			</tbody>
    		</table>
    		<!-- /.table -->
  		</div>
 		 <!-- /.mail-box-messages -->
	</div>
	<!-- /.box-body -->
	<div class="box-footer no-padding">
    
    </div>
</div>