{% set message = messages[0] %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{ message.firstname~' '~message.lastname|lower|title }}</h3>

        <div class="box-tools pull-right">
            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous">
                <i class="fa fa-chevron-left"></i>
            </a>
        
            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next">
                <i class="fa fa-chevron-right"></i>
            </a>
      </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="mailbox-read-info">
            <h3>{{ message.subject|lower|title }}</h3>
            <h5>
                De: {{ message.email }}
                <span class="mailbox-read-time pull-right">{{message.createAt|date()}}</span>
            </h5>
        </div>

      
        <div class="mailbox-read-message">
            {{ message.message }}
        </div>
      <!-- /.mailbox-read-message -->
    </div>
   
    <!-- /.box-footer -->
    <div class="box-footer">
        <button type="button" class="btn btn-default">
            <i class="fa fa-reply"></i> Repondre
        </button>

        <button type="button" class="btn btn-default">
            <i class="fa fa-print"></i> Imprimer
        </button>

    </div>
    <!-- /.box-footer -->
</div>
