{% extends 'admin/base.html.twig' %}

{% set ee = app.request.query.all() %}
{% set exportData = ee|merge({'dump':'excel'}) %}
{% set exportSave = ee|merge({}) %}
{% set token = app.request.query.get('catalog_token') %}
{% set catalogLink = null %}

{% if token %}
    {% set catalogLink = url('catalog_watch_link',{'token':token}) %}
{% endif %}

{% block header_content %}
    Catalogue <small>exportation de données en fichier catalogue excel</small>
{% endblock %}

{% block body_content %}
	<div class="nav-tabs-custom">
        <ul class="nav nav-tabs hidden-print">
            <li class="active">
                <a href="#m-preview-metadata" data-toggle="tab" aria-expanded="false">
                    Aperçu des metadonnées 
                </a>
            </li>

            <li class="">
                <a href="#m-preview-pdf" data-toggle="tab" aria-expanded="false">
                    Aperçu du PDF
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="m-preview-metadata">
				{{ include('admin/export/tab-metadata.html.twig') }}
            </div>

            <div class="tab-pane" id="m-preview-pdf" >
            	<div class="box box-primary" style="border-top:none">
					<div class="box-header hidden-print">

                        <h2 class="box-title">
                            {% if catalogLink %}
                                Lien de visionnage (<small><i><a href="{{ catalogLink }}" target="_blank">{{ catalogLink }}</a></i></small>)
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </h2>


				  		<div class="box-tools pull-right">
							<a href="" class="btn btn-primary btn-sm print-btn">
								Imprimer
							</a>
                            
                            {% if not app.request.query.has('catalog_token') %}
                                <a href="{{ path('admin_export_save',exportSave) }}"  class="btn btn-primary btn-sm">
                                    <i class="fa fa-link"></i> Lien de visionnage
                                </a>
                            {% endif %}
				  		</div>
					</div>

					<div class="box-body table-responsive no-padding">
                		{{ include('admin/export/tab-pdf.html.twig') }}
                	</div>

                	<div class="box-footer hidden-print">
						<a href="print-btn" class="btn btn-primary btn-sm">
							Imprimer
						</a>
					</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    
    {% if token %}
    	<script>

            var tokenUrl = "{{ path('catalog_watch_link',{'token':token}) }}";

            $(document).ready(function($){

                $('.print-btn').on('click',function(e){
                    e.preventDefault();
                    printPage(tokenUrl);
                })

                function closePrint () {
                    document.body.removeChild(this.__container__);
                }

                function setPrint () {
                    this.contentWindow.__container__ = this;
                    this.contentWindow.onbeforeunload = closePrint;
                    this.contentWindow.onafterprint = closePrint;
                    this.contentWindow.focus(); // Required for IE
                    this.contentWindow.print();
                }

                function printPage (sURL) {
                    var oHiddFrame = document.createElement("iframe");
                    oHiddFrame.onload = setPrint;
                    oHiddFrame.style.visibility = "hidden";
                    oHiddFrame.style.position = "fixed";
                    oHiddFrame.style.right = "0";
                    oHiddFrame.style.bottom = "0";
                    oHiddFrame.src = sURL;
                    document.body.appendChild(oHiddFrame);
                }
            });

    		
    	</script>
    {% endif %}
{% endblock %}
