
<style>
	.table-borderless > tbody > tr > td,
	.table-borderless > tbody > tr > th,
	.table-borderless > tfoot > tr > td,
	.table-borderless > tfoot > tr > th,
	.table-borderless > thead > tr > td,
	.table-borderless > thead > tr > th {
	    border: none;
	}
	
	@media print{
		#m-preview-pdf .print-mine{
			position: relative;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		#m-preview-pdf .sub-title{
			font-size: 11px;
		}

		#m-preview-pdf footer{
			font-size: 11px;
		}

		@page { 
			size: landscape; 
		}

		.content {
		   
		}
	}
	
</style>

{% set step = 3 %}
{% set limit = formattedData|length %}
{% set pages = limit / 3 %}

{% for page in 0..pages %}
	{% set pos = page * step  %}

	<div class="print-mine">

		<table class="table table-borderless" >
			<tbody>	
				{% for el in formattedData|slice(pos, step) %}
					<tr>
						<td style="width:180px;padding-bottom:20px" valign="top">
							<div style="width:180px;height:180px;overflow:hidden;border:1px solid #d4d4d4">
								{% if el.image %}
									<img width="180" src="{{ asset('upload/public/'~el.image) }}" alt="">
								{% else %}
									<img width="180" src="{{ asset('img/vignette.png') }}" alt="">
								{% endif %}
								
							</div>
						</td>

						<td  valign="top" style="padding-top:0px;padding-bottom:30px">
							<h3 style="margin-top:0px;font-weight:bold">
								{{ el.name|upper }} <small><i>({{ el.originalName|upper }})</i></small>
							</h3>

							<div class="sub-title">
								{% spaceless %}
									<strong>Genre: </strong>
									{% for item in el.genres %}
				  						{{ item|upper }}{{ loop.last ?'':', ' }}
				  					{% endfor %}
									/&nbsp;<strong>Format: </strong>{{ el.duration }}&nbsp;/&nbsp;<strong>Origine de production: </strong>
									{% for item in el.countries %}
				  						{{ item|upper }}{{ loop.last ?'':', ' }}
				  					{% endfor %}
									&nbsp;/&nbsp;<strong>Année de production: </strong>
				  					{% if el.yearStart %}
				  						{{ el.yearStart }}
				  					{% endif %}

				  					{% if el.yearEnd and el.yearEnd !=  el.yearStart %}
				  						- {{ el.yearEnd }}
				  					{% endif %}
									&nbsp;/&nbsp;<strong>Langue: </strong>
									{% if el.language %}
				  						{{ el.language|upper }}
				  					{% endif %}
									&nbsp;/&nbsp;<strong>Version(s) disponible(s): </strong>
									{% for item in el.versions %}
				  						{{ item|upper }}{{ loop.last ?'':', ' }}
				  					{% endfor %}
									&nbsp;/&nbsp;<strong>Acteurs: </strong>
									{% for item in el.casting %}
				  						{{ item|upper }}{{ loop.last ?'':', ' }}
				  					{% endfor %}
									&nbsp;/&nbsp;<strong>Réalisateurs: </strong>
									{% for item in el.directors %}
				  						{{ item|upper }}{{ loop.last ?'':', ' }}
				  					{% endfor %}
								{% endspaceless %}
							</div>

							<p style="margin-top:20px">
								{{ el.synopsis|truncate(500,'...') }}
							</p>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<footer style="text-align:center;" >
			<small >
				<strong>&copy; Copyright COTE OUEST 2017: Reproduction interdite</strong>
				<div style="font-size:8px">
					Cette présentation de programme ne constitue en aucun cas une offre de droits. la disponibilité des droits souhaités, pour le territoire souhaité vous sera donc confirmée sur demande
				</div>
			</small>
			<span>{{ page+1 }}</span>
		</footer>
	</div>
	
	<section style="page-break-before: always;"></section>


{% endfor %}


