<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
               Côte Ouest Audiovisuel | leader de la distribution de programmes télévisés pour et à destination de l'Afrique
            {% endblock %}
        </title>

        {% block meta_description %}
            <meta name="description" content="avec un catalogue riche de plus de 20 000 heures de séries, de films, de télénovelas, de documentaires. Côte ouest est le premier distributeur de contenus télévisé en provenance et à destination de l’Afrique" />
        {% endblock %}

        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
        {% block stylesheets %}
            <!-- Required meta tags -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <meta name="keywords" content="Côte Ouest  Audiovisuel, Côte Ouest , Côte Ouest , Côte Ouest  Audiovisuel, production de Côte Ouest ,film africain Côte Ouest ,production Côte Ouest ,production Côte Ouest  Audiovisuel, Côte Ouest  production, Côte Ouest  Audiovisuel production, Côte Ouest  Abidjan, Côte Ouest  cote d’ivoire, Côte Ouest  Maurice, Côte Ouest  ébène, Côte Ouest  ile Maurice, Côte Ouest  Maroc, Côte ouest Casablanca, coteouest.ci, coteouest.ma, coteouest.mu, cote-ouest.ci, cote-ouest.tv, coteouest.tv, programmes Audiovisuels, programmes de télévision, films, séries, télénovelas, films africains, cinémas du sud, comédie africaine, cinéma africain, film africain, comédies africaines, cinémas africains, films africains, distribution de programmes, distributeur de programme Audiovisuel, distribution de films, distributeur de programme en Afrique, Afrique, télévision en Afrique, cinémas africains, images africaines, télé africaines, production télévisuelle, tv en Afrique, production Audiovisuelle, tv program, tv programs, africain library, tv africaines, Abidjan, Côte d'Ivoire, Afrique, esa, fsa, dom tom, vod" />

            <meta name="robots" content="all" />
            <meta name="language" content="fr" />
            <meta content="C&ocirc;te Ouest" name="C&ocirc;te Ouest" />

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

            <!-- owlcarousel -->
            <link rel="stylesheet" href="{{ asset('lib/owlcarousel/dist/assets/owl.carousel.min.css') }}">

            <link rel="stylesheet" href="{{ asset('lib/owlcarousel/dist/assets/owl.theme.default.min.css') }}">

            <link rel="stylesheet" href="{{ asset('css/style.css','css') }}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 

        {% endblock %}

    </head>
    <body style="font-family: 'Open Sans', sans-serif;">

        {% block body %}{% endblock %}

        {% block footer %}
            {{ render(controller('AppBundle\\Controller\\DefaultController::renderFooter')) }}
        {% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>