<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                C&ocirc;te Ouest AUDIOVISUEL | leader de la distribution de programmes t&eacute;l&eacute;vis&eacute;s pour et &agrave; destination de l'Afrique
            {% endblock %}
        </title>
        

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <!-- Required meta tags -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


            <meta name="description" content="Avec un catalogue riche de plus de 20 000 heures de Séries, de films, de télénovelas, de documentaires. C&ocirc;te Ouest est le premier distributeur de Contenus télévisé en provenance et à destination de l'Afrique" />
            <meta name="keywords" content="C&ocirc;te Ouest Audiovisuel, C&ocirc;te Ouest, C&ocirc;te Ouest,    C&ocirc;te Ouest audiovisuel, Production de C&ocirc;te Ouest,Film africain C&ocirc;te Ouest,Production C&ocirc;te Ouest,Production C&ocirc;te Ouest audiovisuel,    C&ocirc;te Ouest production,C&ocirc;te Ouest audiovisuel production,C&ocirc;te Ouest abidjan,C&ocirc;te Ouest cote d’ivoire,C&ocirc;te Ouest maurice,C&ocirc;te Ouest ebene,C&ocirc;te Ouest ile maurice,C&ocirc;te Ouest maroc,ote ouest casablanca,coteouest.ci, coteouest.ma, coteouest.mu, cote-ouest.ci, cote-ouest.tv,coteouest.tv,programmes audiovisuels, programmes de télévision, films, séries, telenovelas, films africains, cinémas du sud, comédie africaine,cinéma africain, film africain, comédies africaines,cinémas africains, films africains, distribution de programmes, distributeur de programme audiovisuel, distribution de films, distributeur de programme en Afrique, afrique, télévision en afrique, cinémas africains, images africaines, télé africaines,production télévisuelle, tv en afrique, production audiovisuelle, tv program, tv programs, african library,tv africaines, Abidjan, C&ocirc;te d'ivoire, Afrique" />
            <meta name="robots" content="all" />
            <meta name="language" content="fr" />
            <meta content="C&ocirc;te Ouest" name="C&ocirc;te Ouest" />

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

            <!-- owlcarousel -->
            <link rel="stylesheet" href="{{ asset('lib/owlcarousel/dist/assets/owl.carousel.min.css') }}">

            <link rel="stylesheet" href="{{ asset('lib/owlcarousel/dist/assets/owl.theme.default.min.css') }}">

            <link rel="stylesheet" href="{{ asset('css/style.css','css') }}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 

        {% endblock %}

    </head>
    <body style="font-family: 'Open Sans', sans-serif;">

        {% block body %}{% endblock %}

        {% block footer %}
            {{ render(controller('AppBundle\\Controller\\DefaultController::renderFooter')) }}
        {% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>