<footer>
	<div id="footer-info">
		<ul>
			<li>
				<div class="input-group">

					<span class="fas fa-at position-absolute text-secondary" style="left: 5px;top:10px;"></span>

					<input class="pl-4" required type="email" placeholder="{{'newsletter.alert'|trans({},'footer')}}">
					
					<div class="input-group-prepend">
						<button class="btn btn-sm btn-info">
							<i class="fas fa-envelope"></i>
						</button>
					</div>
				</div>

				
			</li>

			<li id="footer-social" class="d-flex flex-row justify-content-arround">
				<a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl" class="bg-circle coa-bg-secondary">
					<i class="fab fa-facebook-f"></i>
				</a>
				&nbsp;
				<a target="_blank" href="https://twitter.com/CoteOUEST2" class="bg-circle coa-bg-secondary">
					<i class="fab fa-youtube"></i>
				</a>
				&nbsp;
				<a target="_blank" href="https://plus.google.com/b/109041803316679378368/109041803316679378368/posts" class="bg-circle coa-bg-secondary">
					<i class="fab fa-twitter"></i>
				</a>
				&nbsp;
				<a target="_blank" href="http://www.linkedin.com/company/c-te-ouest-audiovisuel" class="bg-circle coa-bg-secondary">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</li>

			<li class="d-none d-md-block">
				<div class="row">
					<div class="col-md-6">
						<ul class="sitemap text-left">
							{% for item in categories|slice(0,5) %}
								<li>
									<a href="{{ path('movie_index',{'category':item.slug}) }}">
										{{ item.name|lower|title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="col-md-6">
						<ul class="sitemap text-right">
							{% for item in categories|slice(5,5) %}
								<li>
									<a href="{{ path('movie_index',{'category':item.slug}) }}">
										{{ item.name|lower|title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
			</li>
			<li class="align-self-center" style="flex-grow:.2">
				<a href="">
					<img width="133" height="42" src="{{ asset('img/logo.png')}}" alt="">
				</a>
			</li>
		</ul>
	</div>

	
	<div id="copyright">
		Copyright 2018 .&nbsp; 

		{% if app.request.getLocale() == 'fr' %}
			Francais
		{% elseif app.request.getLocale() == 'en' %}
			English
		{% else %}
			Francais
		{% endif %}
	</div>
</footer>