{% extends 'contact/email/base.html.twig' %}

{% block title %}
	{{username}}
{% endblock %}

{% block message %}
	<h3><center>Hello {{ username }}, </center></h3>
	&nbsp;
	
	<p>
		Votre mot de passe chez {{ site.name|lower|title}} va être réinitialisé en cliquant sur le lien ci-dessous.
	</p>

	<p>
		<strong>Login</strong>: {{ email }}
		<br>
		<strong>Mot de passe</strong>: ***...*
	</p>

	<p>
		<a href="{{ url('security_pwd_renew',{token:token}) }}">Changer le mot de passe maintenant</a>
	</p>
    <br><p>Webmaster Côte Ouest Audiovisuel.</p>
{% endblock %}



