{% extends 'base.html.twig' %}

{% set four_movie = programmes|slice(0,4) %}
{% set original_cover = programmes|slice(4,1)[0] %}
{% set four_movie_2 = programmes|slice(5,4) %}


{% block title %}
    Intégration html + css  | page 1
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/index.css','css') }}" type="text/css" />
{% endblock %}

{% block body %}
    
    <header id="header">
        {{ include('main-menu.html.twig') }}

        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>rising·sun</h3></div></li>
            <li><span>Image 02</span><div><h3>combat·de·femme</h3></div></li>
            <li><span>Image 03</span><div><h3>40<sup>e</sup>·Single</h3></div></li>
            <li><span>Image 04</span><div><h3>hospital·iT</h3></div></li>
            <li><span>Image 05</span><div><h3>qui·e·tude</h3></div></li>
            <li><span>Image 06</span><div><h3>re·lax·a·tion</h3></div></li>
        </ul>

        {#<div id="master-cover"></div>

        <div id="master-cover-overlay"></div>#}


        <div id="thumbnail-cover" class="d-none d-md-block">
            <ul>

                {% for movie in four_movie %}
                    <li class="ml-2">
                        <div class="position-relative has-media-detail d-block">

                            {% if movie.portraitImg %}
                                <img width="150px" src="{{ asset('upload/public/'~movie.portraitImg) }}" alt="{{ movie.name|lower|title}}">
                            {% else %}
                                <img width="150px" src="{{ asset('img/'~random(['other-movie-8','other-movie-9','other-movie-10','other-movie-7'])~'.jpg') }}" alt="{{ movie.name|lower|title}}">
                            {% endif %}
                           

                            <div class="media-overlay"></div>

                            <div class="media-btn-wrapper">
                                <ul>
                                    <li>
                                        <a data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="{{movie.trailer}}" class="venobox">
                                           {{ 'Bande annonce'|trans({},'movies') }}
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('movie_index',{'slug':movie.slug})}}">
                                            {{ 'Details'|trans({},'movies') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="movie-f">
                                <h2 class="text-truncate">
                                    {{ movie.name|lower|title }}
                                </h2>

                                <small class="text-white">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </small>
                            </div>

                            {#<!--div class="media-info align-items-center justify-content-center">  
                                <span class="badge badge-light">
                                    
                                    {{
                                        random(['Serie','Film','Telenovelas','Animation'])
                                    }}
                                </span>
                                <br>
                                <span class="badge badge-light">
                                    11-02-2014
                                </span>
                                
                            </div-->#}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </header>


    <div  class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <section class="block has-carousel animation-none" id="block-originals">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            Originals
                        </h3>
                        <br>
                        <br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <a class="vid-hover position-relative venobox" data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="{{original_cover.trailer}}" >

                                    {% if original_cover.landscapeImg %}
                                        <img class="img-fluid" src="{{ asset('upload/public/'~original_cover.landscapeImg) }}" alt="{{ original_cover.name|lower|title}}">
                                    {% else %}
                                        <img class="img-fluid"  src="{{ asset('img/trailer1.jpg')}}" alt="{{ movie.name|lower|title}}" >
                                    {% endif %}

                                    <i class="video-icon video-popup-control"></i>
                                </a>
                            </div>

                            <div class="col-md-6">

                                <div class="row">
                                    {% for movie in four_movie_2%}
                                        <div class="col-6 mb-3">
                                            <div class="position-relative d-block has-media-detail">

                                                {% if movie.landscapeImg %}
                                                    <img class="img-fluid" src="{{ asset('upload/public/'~movie.landscapeImg) }}" alt="{{ movie.name|lower|title}}">
                                                {% else %}
                                                    <img class="img-fluid"  src="{{ asset('img/vignette-landscape.png')}}" alt="{{ movie.name|lower|title}}" >
                                                {% endif %}


                                                <div class="media-overlay"></div>

                                                <div class="media-btn-wrapper">
                                                    <ul class="d-block">
                                                        <li>
                                                            <a class="venobox"  data-vbtype="video" data-autoplay="true" data-title="on affiche le titre de la video ici " href="{{movie.trailer}}">
                                                               {{ 'Bande annonce'|trans({},'movies') }}
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('movie_index',{'slug':movie.slug}) }}">
                                                                {{ 'Details'|trans({},'movies') }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="movie-f">
                                                    <h2 class="text-truncate">
                                                        {{ movie.name|lower|title }}  
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </section>
            </div>
        </div>
    </div>

    <section class="animation-right" style="margin-top: 40px;">

        <div class="site-slogan">
            Premier Content Creator and Distributor for and from Africa
        </div>

    </section>

    <!--div  style="margin-top: 60px;" class="d-block">
        <div style="background:url('http://www.webstrot.com/html/moviepro/images/content/video_bg.jpg') 50% 0 repeat-y;background-position:center 0;background-size:cover;background-repeat:no-repeat;float:left;width:100%;height:100%;padding-top:300px;"></div>
    </div-->

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <section class="block has-carousel" id="block-production-a-laffiche">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ ' Production à la une'|trans({},'homepage') }}
                        </h3>
                        <br><br>
                    </div>

                    <div class="block-content" >
                        <div class="row">
                            <div class="col-md-7">

                               <a class="venobox position-relative d-block" data-vbtype="video" data-autoplay="true" href="{{ inTheather.trailer }}" style="height:100%;">
                                    

                                    {% if inTheather %}

                                        {% if inTheather.coverImg %}
                                            <div class="in-theather-cover" style="background-image:url( {{ asset('upload/public/'~inTheather.coverImg)}})" ></div>
                                        {% else %}
                                            <div class="in-theather-cover" style="background-image:url( {{ asset('upload/public/vignette-cover')}})" ></div>
                                        {% endif %}
                                       
                                    {% else %}
                                       <div class="in-theather-cover"></div>
                                    {% endif %}

                                    <i class="video-icon video-popup-control"></i>

                                    <div class="prs_upcom_movie_video_overlay"></div>

                                    <div class="prs_upcom_video_img_cont_over">
                                        <ul>
                                            <li>
                                                {% for i in inTheather.genres %}
                                                    {{ i.genre.name|lower|title }}{{ loop.last ? '' : ','}}
                                                {% endfor %}
                                            </li>
                                            <li>Note :&nbsp;&nbsp;
                                                <span class="text-info">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                                
                                            </li>
                                        </ul>
                                        <h2>
                                            {% if inTheather %}
                                                {{ inTheather.name|lower|title }}
                                            {% else %}
                                                {{ random(['the visit','the wild'])}}
                                            {% endif %}
                                            
                                            
                                        </h2>
                                        <p>Sortie en salle le, 25 decembre 2018</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-5 shadow-effect2 bg-white">
                                
                                <div>
                                    {% if inTheather %}
                                        {{ inTheather.synopsis|truncate(250,'...')|md2html }}
                                    {% else %}
                                        -
                                    {% endif %}

                                    <a href="{{ path('movie_index',{'slug':inTheather.slug}) }}">
                                        <small>lire la suite</small>
                                    </a>
                                </div>

                                <br>
                                
                               

                                <div class="row">
                                    {% if inTheather %}
                                        {% set scenes = inTheather.scenes %}
                                        
                                        {% if scenes|length %}
                                            {% for img in scenes %}
                                                
                                                <div class="col-sm-6 {{ loop.index > 2 ? 'd-none' : '' }}">
                                                    <div class="position-relative" style="display:inline-block">

                                                        {% if loop.index <= 2 %}
                                                            <img class="img-fluid" src="{{ asset('upload/public/'~img.image) }}" alt="{{ inTheather.name|lower|title }}">

                                                            <div class="custom_overlay"></div>

                                                        {% endif %}


                                                        <a href="{{ asset('upload/public/'~img.image) }}" class="venobox  text-white" data-gall="myGallery" data-title="{{ inTheather.name|lower|title }}"style="position:absolute;top:45%;left:45%;">
                                                            {% if loop.index <= 2 %}
                                                                <i  class="fas fa-search"></i>
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        {% else %}
                
                                        {% endif %}
                                    {% else %}
                                        <h3 class="mblock-title mblock-title-info" style="line-height:0px;font-size:12px">
                                            {{ 'Equipe de production'|trans({},'homepage') }}
                                        </h3>
                                        <br>

                                       <div class="col-sm-6">
                                            <img class="img-fluid" src="{{ asset('img/director-1.jpg') }}" alt="">
                                        </div>
                                        <div class="col-sm-6">
                                            <img class="img-fluid" src="{{ asset('img/director-2.jpg')}}" alt="">
                                        </div>
                                    {% endif %}
                                    
                                </div>

                                {#<a class="btn btn-sm btn-primary venobox" data-vbtype="video" data-autoplay="true" href="{{inTheather.trailer}}" title="false">
                                    <i class="far fa-eye"></i> &nbsp; bande annonce 
                                </a>#}

                                <a class="btn btn-sm btn-primary" href="{{ path('movie_index',{'slug':inTheather.slug}) }}">
                                    voir la fiche &nbsp;<i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                {#<section class="block has-carousel" id="block-acteurs">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'Acteurs'|trans({},'homepage') }}
                        </h3>
                        <br><br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >
                        <div class="card-group owl-carousel">

                            {% for item in actors %}
                                <div class="card">
                                    <a href="{{ path('actor_index',{'slug':item.slug}) }}" class="d-block  has-detail text-white">
                                        <img class="card-img-top" src="{{ asset('img/actor-'~loop.index~'.jpg')}}" alt="Card image cap">

                                        <div class="card-body d-none d-md-block media-info" >
                                            <h6 class="card-title">
                                                {{item.name|lower|title}}
                                            </h6>

                                            <p class="card-text">
                                                <small >
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </small>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>#}


                <section class="block animation-right" id="block-video-a-voir">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'Videos à voir'|trans({},'homepage') }}
                        </h3>
                        <br><br>
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            {% for item in vimeoRsrc %}
                                <div class="col-6 col-sm-6 col-md-3 mb-2 d-flex justify-content-center">

                                    <a href="{{ item.link }}" class="venobox"  data-vbtype="video" data-title="" data-autoplay="true" data-gall="myGallery2" data-title="{{ item.name }}" >
                                        <img  class="img-fluid" src="{{ item.thumbnail }}" alt="">
                                        <i class="video-icon video-popup-control"></i>
                                    </a>
                                </div>
                            {% endfor %}

                            {#<div class="col-6 col-sm-6 col-md-3 mb-2 d-flex justify-content-center">
                                <a class="venobox"  data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="https://www.youtube.com/embed/V_aDojXG8cM">
                                    <img class="img-fluid" src="{{ asset('img/vid2.jpg')}}" alt="">
                                    <i class="video-icon video-popup-control"></i>
                                </a>
                            </div>

                            <div class="col-6 col-sm-6 col-md-3 mb-2 d-flex justify-content-center">
                                <a  data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="https://www.youtube.com/embed/V_aDojXG8cM" class="venobox">
                                    <img class="img-fluid" src="{{ asset('img/vid3.jpg')}}" alt="">
                                    <i class="video-icon video-popup-control"></i>
                                </a>
                            </div>

                            <div class="col-6 col-sm-6 col-md-3 mb-2 d-flex justify-content-center">
                                <a  data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="https://www.youtube.com/embed/V_aDojXG8cM" class="venobox">
                                    <img class="img-fluid" src="{{ asset('img/vid3.jpg')}}" alt="">
                                    <i class="video-icon video-popup-control"></i>
                                </a>
                            </div>#}
                        </div>
                    
                    </div>
                    
                </section>

                <section id="block-citation">
                    <div class="cite-divider">
                        <img src="{{ asset('img/div.png')}}" alt="">
                    </div>
                    <div class="cite-content">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolore dignissimos, non iste, ea assumenda perferendis dolor incidunt dolorum eos, autem ut beatae illo quibusdam numquam fuga sed in! Dolores!</div>
                    </div>
                    <div class="cite-divider">
                        <img src="{{ asset('img/div.png')}}" alt="">
                    </div>
                </section>


                <section class="block  animation-top has-carousel" id="block-realisateurs">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'Producteurs et Réalisateurs'|trans({},'homepage') }}
                        </h3>
                        <br><br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            <div class="col-md-5 mb-2" >

                                <div class="position-relative">
                                    {% if producer.image %}
                                        <img  class="img-fluid" src="{{ asset('upload/public/'~producer.image) }}" alt="">
                                    {% else %}
                                        <img  class="img-fluid" src="{{ asset('img/vignette-landscape.png')}}" alt="">
                                    {% endif %}

                                    <a href="{{ path('producer_index',{'slug':producer.slug}) }}" class="bg-circle detail-producer">

                                        <span class=" d-flex flex-row justify-content-end align-items-center">
                                            <span class="text-white mr-auto pl-2" style="font-size: 12px">
                                                {{ 'savoir plus'|trans({},'movies') }}
                                            </span>

                                            &nbsp;

                                            <i class="fas fa-plus text-white"></i>
                                        </span>
                                    </a>
                                </div>
                                
                            </div>

                            <div class="col-md-7">

                                <div class="row d-flex flex-row justify-content-center align-items-center">

                                    {% for item in directors %}
                                        {% set pos = loop.index %}

                                        {% if pos > 3 %}
                                            {% set pos = pos - 3 %}
                                        {% endif %}

                                        <div class="col-6 col-md-4 col-sm-6 mb-4">
                                            <a href="{{ path('director_index',{'slug':item.slug}) }}" class="position-relative d-block vid-hover has-detail">

                                                {% if item.image %}
                                                    <img  class="img-fluid" src="{{ asset('upload/public/'~item.image) }}" alt="">
                                                {% else %}
                                                    <img  class="img-fluid" src="{{ asset('img/vignette-landscape.png')}}" alt="">
                                                {% endif %}

                                                <div class="media-info align-items-center justify-content-center">
                                                    <span class="badge badge-light">
                                                        {{item.name|lower|title}}
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    {#
    <section class="block animation-top bg-light pt-5" id="contacts" >
        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <h4>Nos contacts</h4>
                        <address>
                            <strong>Côte Ouest Audiovisuel</strong><br>
                            Abidjan, Cote d'Ivoire<br>
                            BP 4715, Rue Viviane A23 Val Doyen Cocody.
                        </address>



                        <p>
                            <i class="fas fa-phone"></i> 
                            (225) 22 48 76 00 - (225) 22 48 75 06 <br>
                            <i class="fas fa-envelope"></i> contact@coteouest.tv
                        </p>
                    </div>
                </div>

                <div class="col-md-8">

                    <h4>Nous écrire</h4>

                    <form id="contactform" action="" method="post" class="validateform" name="send-contact">
                        <!--div id="sendmessage">
                            Votre message a bien été envoyé. Merci !
                        </div-->

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Votre nom" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="subject" placeholder="Votre prénom" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Votre adresse email" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="subject" placeholder="Objet" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group">
                                    <textarea  name="message" class="input-block-level form-control" placeholder="Exprimez-vous..."></textarea>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col col-md-12">

                                <div class="form-group">
                                    <button class="btn btn-sm btn-info" type="submit">
                                        <small>Envoyer</small>
                                    </button>
                                    
                                    <span class="float-right ">
                                        * Veuillez remplir tous les champs, Merci!
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> #}

    <div id="map"></div>

   

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    
    <script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>

    <script>
        $(document).ready(function($){

            let mainMenu = $("#master-menu");
            var sections = $("section");


            $(window).on({
                scroll:function(e){
                    let pos = $(this).scrollTop();
                    if(pos >= 600){
                        mainMenu.addClass('active');
                    }
                    else if(pos <= 120){
                        mainMenu.removeClass('active');
                    }

                    sections.each(function(i,el){
                        let obj = $(el);
                        let top = obj.offset().top;
                        let delta = top - pos;
                        if(delta <= 600 && !obj.hasClass('section-animation')){
                            obj.addClass('section-animation');
                            //console.log(`section ${i}: top: ${top}, scrollTop: ${pos}`)
                        }
                    });

                    
                }
            });

            $(".has-carousel").each(function(i,el){
                let obj = $(el);
                let owl = obj.find(".owl-carousel");

                obj.find(".slide-nav.nav-n, .slide-nav.nav-p").on({
                    click:function(e){
                        e.preventDefault();
                        if($(this).hasClass('nav-n')){
                            owl.trigger('next.owl.carousel');
                        }
                        else{
                            owl.trigger('prev.owl.carousel');
                        }
                    }
                });

                let opts = {
                    loop:true,
                    //margin:3,
                };

                if(obj.attr('id') == "block-acteurs"){
                    opts.items = 4;
                    opts.margin = 4;
                }
                else{
                    opts.items = 1;
                }

                owl.owlCarousel(opts);
            });

             /* 09. VENOBOX JS */
            $('.venobox').venobox({
                numeratio: true,
                titleattr: 'data-title',
                titlePosition: 'top',
                titleColor:"#ffffff",
                spinner: 'wandering-cubes',
                spinColor: '#007bff',
                autoplay:true
            });

        });
    </script>

    
    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFJv-Gz2nkIXlLGQlQYn9OPLsjkRdMmvM&callback=initMap"></script>

    <script>
        function initMap() {
            var uluru = {lat: 5.331036, lng: -4.0009177};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

       
    </script>

{% endblock %}
