{% extends 'base.html.twig' %}

{% set four_movie = programmes|slice(0,4) %}
{% set programmes_rest = programmes|slice(4)|shuffle %}

{% set original_cover = programmes_rest|slice(0,1)[0] %}
{% set four_movie_2 = programmes_rest|slice(1,4) %}

{% set event_movies_left = currentEvent.movies|slice(0,3) %}
{% set event_movies_right = currentEvent.movies|slice(3) %}


{% set event_movies_center = currentEvent.movies|shuffle %}


{% block stylesheets %}
    {{ parent() }}


    {% stylesheets %}

    {% endstylesheets %}
    {#<link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/index.css','css') }}" type="text/css" />#}

    {% stylesheets filter='cssrewrite' 
        'lib/venobox/venobox.css'
        'css/index.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}
    
    <header id="header" >
        {{ include('main-menu.html.twig') }}


        <div id="bxslider-baner" style="height:800px;overflow:hidden">
            <div>
                <img src="{{ asset('img/bannieres/the-river.jpg') }}" title="the river">
            </div>
            <div>
                <img src="{{ asset('img/bannieres/mr-brau.jpg') }}" alt="mr brau">
            </div>
            <div>
                <img src="{{ asset('img/bannieres/edge-of-desire.jpg') }}" alt="edge of desire">
            </div>
        </div>


        {#<div id="thumbnail-cover" class="d-none d-md-block">
            <ul>

                {% for movie in four_movie %}
                    <li class="ml-2">
                        <div class="position-relative has-media-detail d-block">

                            {% if movie.portraitImg %}
                                <img width="150px" src="{{ asset('upload/public/'~movie.portraitImg) }}" alt="{{ movie.name|lower|title}}">
                            {% else %}
                                <img width="150px" src="{{ asset('img/vignette.png') }}" alt="{{ movie.name|lower|title}}">
                            {% endif %}
                           

                            <div class="media-overlay"></div>

                            <div class="media-btn-wrapper">
                                <ul>
                                    <li>
                                        <a data-vbtype="video" data-title="on affiche le titre de la video ici " data-autoplay="true" href="{{movie.trailer}}" class="{{ movie.trailer ? '' : 'my-disabled' }} venobox">
                                           {{ 'Bande annonce'|trans({},'movies') }}
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('movie_index',{'slug':movie.slug})}}">
                                            {{ 'Details'|trans({},'movies') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="movie-f">
                                <h2 class="text-truncate">
                                    {{ movie.name|lower|title }}
                                </h2>

                               
                            </div>

                            
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
        </div>#}
    </header>


    <div  class="container mt-0" id="index-main-content">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <section class="block has-carousel animation-none" id="block-originals">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{"à l'affiche"|trans({},'homepage')}}
                        </h3>
                        <br>
                        <br>

                        {#<div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle bg-info slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle bg-info slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>#}
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="position-relative has-media-detail d-inline-block" >

                                    {% if original_cover.landscapeImg %}
                                        <img class="img-fluid" src="{{ asset('upload/public/'~original_cover.landscapeImg) }}" alt="{{ original_cover.name|lower|title}}">
                                    {% else %}
                                        <img class="img-fluid"  src="{{ asset('img/vignette-landscape.png')}}" alt="{{ original_cover.name|lower|title}}" >
                                    {% endif %}

                                    <div class="media-overlay"></div>

                                    <div class="media-btn-wrapper">
                                        <ul class="d-block" style="top:40%">
                                            <li>
                                                <a class="{{ original_cover.trailer ? '' : 'my-disabled' }} venobox"  data-vbtype="video" data-autoplay="true" data-title="on affiche le titre de la video ici " href="{{original_cover.trailer}}">
                                                   {{ 'Bande annonce'|trans({},'movies') }}
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('movie_index',{'slug':original_cover.slug}) }}">
                                                    {{ 'Details'|trans({},'movies') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="movie-f">
                                        <h2 class="text-truncate">
                                            {{ original_cover.name|lower|title }}  
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="row">
                                    {% for movie in four_movie_2%}
                                        <div class="col-6 mb-3">
                                            <div class="position-relative d-block has-media-detail">

                                                {% if movie.landscapeImg %}
                                                    <img class="img-fluid" src="{{ asset('upload/public/'~movie.landscapeImg) }}" alt="{{ movie.name|lower|title}}">
                                                {% else %}
                                                    <img class="img-fluid"  src="{{ asset('img/vignette-landscape.png')}}" alt="{{ movie.name|lower|title}}" >
                                                {% endif %}


                                                <div class="media-overlay"></div>

                                                <div class="media-btn-wrapper">
                                                    <ul class="d-block">
                                                        <li>
                                                            <a class="{{ movie.trailer ? '' : 'my-disabled' }} venobox"  data-vbtype="video" data-autoplay="true" data-title="on affiche le titre de la video ici " href="{{movie.trailer}}">
                                                               {{ 'Bande annonce'|trans({},'movies') }}
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('movie_index',{'slug':movie.slug}) }}">
                                                                {{ 'Details'|trans({},'movies') }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="movie-f">
                                                    <h2 class="text-truncate">
                                                        {{ movie.name|lower|title }}  
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                {# Debut d'affichage mobile EVENT #}
                <section class="block has-carousel animation-top " id="apex">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{"event.special.title.apex"|trans({},'homepage')}} 
                        </h3>
                        <br><br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >
                        <div class="text-left owl-carousel">
                            
                            {% for item in currentEvent.movies %}
                                <div>
                                    <div class="position-relative has-media-detail d-block vid-hover">
                                        {% if item.portraitImg %}
                                            <img  src="{{ asset('upload/public/'~item.portraitImg) }}"  alt="{{ item.name|lower|title }}">
                                        {% else %}
                                            <img alt="" src="{{ asset('img/vignette.png')}}"  alt="">
                                        {% endif %}

                                        <div class="media-overlay"></div>

                                        <div class="media-btn-wrapper">
                                            <ul class="d-block">
                                                <li>
                                                    <a data-vbtype="video" href="{{ item.trailer }}" class="{{ item.trailer ? '' : 'my-disabled' }} venobox movie-trailer-link" >
                                                        {{ 'Bande annonce'|trans({},'movies') }}
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('movie_index',{'slug':item.slug})}}" class="movie-link">
                                                        {{ 'Details'|trans({},'movies') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="movie-f d-none d-md-flex">
                                            <h2 class="text-truncate movie-name" >
                                                {{ item.name|lower|title }} 
                                            </h2>

                                            {#<small class="d-none d-md-block movie-rank">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </small>#}
                                        </div>
                                    
                                    </div>
                                </div>
                            {% else %}
                                 <div class="alert alert-light" role="alert">
                                    <h6 class="alert-heading">
                                        {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                    </h6>
                                
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {# Fin d'affichage mobile EVENT #}

                {# Debut d'affichage desktop EVENT 
                <section class="d-none d-sm-none d-md-none d-lg-none d-xl-block block has-carousel animation-top " id="current-event-2">
                    
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ currentEvent.view_title }}
                        </h3>
                        <br><br>
                    </div>

                    <div class="row">
                        <div class="prs_vp_main_slider_wrapper">
                            <div class="prs_vp_left_slidebar_wrapper">
                                <div class="wrap-album-slider">
                                    <div class="bx-wrapper" style="max-width: 257px;">
                                        <ul class="prs_vp_left_slider" >

                                            {% for item in event_movies_left %}
                                                <li class="album-slider__item prs_vp_hover_overlay" >
                                                    <figure class="album">
                                                        <div class="prs_vp_img_overlay">

                                                            {% if item.portraitImg %}
                                                                <img src="{{ asset('upload/public/'~item.portraitImg) }}" alt="{{ item.name|lower|title }}"> 
                                                            {% else %}
                                                                <img alt="" src="{{ asset('img/vignette.png')}}"  alt="">
                                                            {% endif %}


                                                            <a href="{{ path('movie_index',{'slug':item.slug})}}" class="info vbox-item" data-title="{{ item.name|lower|title }}" >
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                    <!-- End album -->
                                                </li>
                                            {% endfor %}

                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="prs_vp_center_slidebar_wrapper">
                                <div class="prs_vp_center_slider">
                                    <div class="owl-carousel owl-theme owl-drag">

                                        {% for item in event_movies_center if item.landscapeImg %}
                                            <div class="item">
                                                <div class="prs_vp_center_slider_img_wrapper prs_vp_hover_overlay">
                                                    <figure class="album">

                                                        <div class="prs_vp_img_overlay">

                                                            <img src="{{ asset('upload/public/'~item.landscapeImg) }}" alt="{{ item.name|lower|title }}">

                                                            <a href="{{ path('movie_index',{'slug':item.slug})}}" class="info vbox-item" data-title="{{ original_cover.name|lower|title }}">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                    
                                    

                                </div>
                            </div>
                            <div class="prs_vp_right_slidebar_wrapper">
                                <div class="wrap-album-slider">
                                    <div class="bx-wrapper" style="max-width: 257px;">
                                        <ul class="prs_vp_right_slider" >
                                            {% for item in event_movies_right %}
                                                <li class="album-slider__item prs_vp_hover_overlay" >
                                                    <figure class="album">
                                                        <div class="prs_vp_img_overlay">

                                                            {% if item.portraitImg %}
                                                                <img src="{{ asset('upload/public/'~item.portraitImg) }}" alt="{{ item.name|lower|title }}"> 
                                                            {% else %}
                                                                <img alt="" src="{{ asset('img/vignette.png')}}"  alt="">
                                                            {% endif %} 

                                                            <a href="{{ path('movie_index',{'slug':item.slug})}}" class="info vbox-item" data-title="{{ item.name|lower|title }}" >
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                    <!-- End album -->
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                {# Fin d'affichage desktop EVENT #}
            </div>
        </div>
    </div>



    <section class="animation-right" style="margin-top: 40px;">

        <div class="site-slogan">

            {{ "Premier Distributeur et Créateur de Contenu pour l'Afrique"|trans({},"homepage") }}
        </div>

    </section>

    <!--div  style="margin-top: 60px;" class="d-block">
        <div style="background:url('http://www.webstrot.com/html/moviepro/images/content/video_bg.jpg') 50% 0 repeat-y;background-position:center 0;background-size:cover;background-repeat:no-repeat;float:left;width:100%;height:100%;padding-top:300px;"></div>
    </div-->

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <section class="block has-carousel" id="block-production-a-laffiche">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'En vedette'|trans({},'homepage') }}
                        </h3>
                        <br><br>
                    </div>

                    <div class="block-content" >
                        <div class="row">
                            <div class="col-md-7">

                               <a class="venobox position-relative d-block" data-vbtype="video" data-autoplay="true" href="{{ inTheather.trailer }}" style="height:100%;">
                                    

                                    {% if inTheather %}

                                        {% if inTheather.coverImg %}
                                            <div class="in-theather-cover" style="background-image:url( {{ asset('upload/public/'~inTheather.coverImg)}})" ></div>
                                        {% else %}
                                            <div class="in-theather-cover" style="background-image:url( {{ asset('upload/public/vignette-cover')}})" ></div>
                                        {% endif %}
                                       
                                    {% else %}
                                       <div class="in-theather-cover"></div>
                                    {% endif %}

                                    <i class="video-icon video-popup-control"></i>

                                    <div class="prs_upcom_movie_video_overlay"></div>

                                    <div class="prs_upcom_video_img_cont_over">
                                        <ul>
                                            <li>
                                                {% for i in inTheather.genres %}
                                                    {{ i.genre.name|lower|title }}{{ loop.last ? '' : ','}}
                                                {% endfor %}
                                            </li>
                                            {#<li>Note :&nbsp;&nbsp;
                                                <span class="text-info">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                                
                                            </li>#}
                                        </ul>
                                        <h2>
                                            {% if inTheather %}
                                                {{ inTheather.name|lower|title }}
                                            {% else %}
                                                {{ random(['the visit','the wild'])}}
                                            {% endif %}
                                            
                                            
                                        </h2>
                                        {#<p>Sortie en salle le, 25 decembre 2018</p>#}
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-5 shadow-effect2 bg-white">
                                
                                <div>
                                    {% if inTheather %}
                                        {{ inTheather.synopsis|truncate(250,'...')|md2html }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>

                                <br>
                        

                                <div class="row">
                                    {% if inTheather %}
                                        {% set scenes = inTheather.scenes %}
                                        
                                        {% if scenes|length %}
                                            {% for img in scenes %}
                                                
                                                <div class="col-sm-6 col-6 {{ loop.index > 2 ? 'd-none' : '' }}">
                                                    <div class="position-relative" style="display:inline-block">

                                                        {% if loop.index <= 2 %}
                                                            <img class="img-fluid" src="{{ asset('upload/public/'~img.image) }}" alt="{{ inTheather.name|lower|title }}">

                                                            <div class="custom_overlay"></div>

                                                        {% endif %}


                                                        <a href="{{ asset('upload/public/'~img.image) }}" class="venobox  text-white" data-gall="myGallery" data-title="{{ inTheather.name|lower|title }}"style="position:absolute;top:45%;left:45%;">
                                                            {% if loop.index <= 2 %}
                                                                <i  class="fas fa-search"></i>
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        {% else %}
                
                                        {% endif %}
                                    {% else %}
                                       -
                                    {% endif %}
                                    
                                </div>

                                {#<a class="btn btn-sm btn-primary venobox" data-vbtype="video" data-autoplay="true" href="{{inTheather.trailer}}" title="false">
                                    <i class="far fa-eye"></i> &nbsp; bande annonce 
                                </a>#}

                                <a class="btn btn-sm btn-primary" href="{{ path('movie_index',{'slug':inTheather.slug}) }}">
                                    {{ "Voir la fiche"|trans({},"homepage") }}
                                     &nbsp;<i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="block animation-right" id="block-video-a-voir">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'trailer.homepage.title'|trans({},'homepage') }}
                        </h3>
                        <br><br>
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            {% for item in trailers %}
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-2 d-flex justify-content-center position-relative">

                                    <a href="{{ item.trailer }}" class="venobox"  data-vbtype="video" data-title="{{item.name }}" data-autoplay="true" data-gall="myGallery2" style="text-decoration:none">
                                        

                                        <img  class="img-fluid" src="{{ asset('upload/public/'~item.landscapeImg) }}" alt="{{ item.name|lower|title}}" />
                                        
                                        <i class="video-icon video-popup-control"></i>

                                        
                                        <div  class="d-flex align-items-center justify-content-center mt-2">
                                            <span class="badge badge-info">
                                                {{item.name|lower|title}}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    
                    </div>
                    
                </section>

                <section id="block-citation">
                    <div class="cite-divider">
                        <img src="{{ asset('img/div.png')}}" alt="">
                    </div>
                    <div class="cite-content">
                        {{ "Notre catalogue, riche de près de 20 000 heures englobe tous les genres ; feuilletons, séries, films, documentaires, animations etc., principalement d’Afrique (ou plutôt des Afriques), d’Amérique du Sud, mais n’exclus pas quelques programmes d'ailleurs."|trans({},"homepage") }}
                    </div>
                    <div class="cite-divider">
                        <img src="{{ asset('img/div.png')}}" alt="">
                    </div>
                </section>

                
                {# affichage coming soon des evenements #}

                {#<section class="block animation-top" id="upcoming-events">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="prs_ec_ue_left_img_wrapper">
                            <img src="{{ asset('img/events/apex-2019.jpg')}}" alt="apex - côte ouest audiovisuel">
                        </div>
                        <div class="prs_ec_ue_right_img_wrapper">
                            <div class="prs_feature_img_cont prs_ec_ue_right_img_cont">
                                <h2><a href="#">Apex MMM 2019</a></h2>
                                <div class="prs_ft_small_cont_left">
                                    <p>Dublin &amp; Ireland</p>
                                </div>
                               
                                <ul>
                                    <li>15 &mdash; 17 Avril 2019</li>
                                    <li>09:30-15:00</li>
                                </ul>
                                <p class="prs_up_pera_sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiud tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo is aute irure dolor in reprehenderit in voluptate velit esse cillum fugiat nulla pariatur Excepteur sint. <a href="#">Read More</a>
                                </p>
                            </div>
                            <div class="prs_ec_ue_timer_wrapper">
                                <div id="clockdiv">
                                    <div><span class="days"></span>
                                        <div class="smalltext">Jours</div>
                                    </div>
                                    <div><span class="hours"></span>
                                        <div class="smalltext">Heures</div>
                                    </div>
                                    <div><span class="minutes"></span>
                                        <div class="smalltext">Mins</div>
                                    </div>
                                    <div><span class="seconds"></span>
                                        <div class="smalltext">Secs</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>#}

                {# fin affichage coming soon des evenements #}

                {#<section class="block  animation-top has-carousel" id="block-realisateurs">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{ 'Réalisateurs / Créateurs'|trans({},'homepage') }}
                        </h3>
                        
                    </div>

                    <div class="block-content" >

                        <div class="row">
                            <div class="col-md-5 mb-2" >

                                <div class="position-relative">
                                    {% if director_exclusivity.image %}
                                        <img  class="img-fluid" src="{{ asset('upload/public/'~director_exclusivity.image) }}" alt="{{ director_exclusivity.name }}">
                                    {% else %}
                                        <img  class="img-fluid" src="{{ asset('img/vignette-landscape.png')}}" alt="{{ director_exclusivity.name }}">
                                    {% endif %}

                                    <a href="{{ path('director_index',{'slug':director_exclusivity.slug}) }}" class="bg-circle detail-producer">

                                        <span class=" d-flex flex-row justify-content-end align-items-center">
                                            <span class="text-white mr-auto pl-2" style="font-size: 12px">
                                                {{ 'Voir plus'|trans({},'homepage') }}
                                            </span>

                                            &nbsp;

                                            <i class="fas fa-plus text-white"></i>
                                        </span>
                                    </a>
                                </div>
                                
                            </div>

                            <div class="col-md-7">

                                <div class="row d-flex flex-row justify-content-center align-items-center">

                                    {% for item in directors %}
                                        {% set pos = loop.index %}

                                        {% if pos > 3 %}
                                            {% set pos = pos - 3 %}
                                        {% endif %}

                                        <div class="col-6 col-md-4 col-sm-6 mb-4">
                                            <a href="{{ path('director_index',{'slug':item.slug}) }}" class="position-relative d-block vid-hover has-detail">

                                                {% if item.image %}
                                                    <img  class="img-fluid" src="{{ asset('upload/public/'~item.image) }}" alt="{{ item.name }}">
                                                {% else %}
                                                    <img  class="img-fluid" src="{{ asset('img/vignette-landscape.png')}}" alt="{{ item.name }}">
                                                {% endif %}

                                                <div class="media-info align-items-center justify-content-center">
                                                    <span class="badge badge-light">
                                                        {{item.name|lower|title}}
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>#}
            </div>
        </div>
    </div>
    
    

    <div id="map"></div>

   

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts 
        'lib/owlcarousel/dist/owl.carousel.min.js' 
        'js/main-menu-manager.js'
        'lib/venobox/venobox.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    
    {#<script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>#}
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function($){

            let mainMenu = $("#master-menu");
            var sections = $("section");

            /*var ComingSoon = (function(){
                function ComingSoon(startingDate = "Apr 15, 2019 09:30:00"){
                    this.timerId = null;
                    this.startingDate = startingDate;
                    this.params = {
                        daysEl:null,
                        hoursEl:null,
                        minsEl:null,
                        secsEl:null,
                    }
                }

                ComingSoon.utils = {};

                ComingSoon.utils.merge = function(target={},source={}){
                   for(let i in source){
                    target[i] = source[i];
                   }
                   return target;
                }

                ComingSoon.prototype.stop = function(){
                    clearInterval(this.timerId);
                }

                ComingSoon.prototype.init = function(params){
                    this.params = ComingSoon.utils.merge(this.params,params);
                    var countDownDate = new Date(this.startingDate).getTime();

                    this.timerId = setInterval(()=> {
                        // Get todays date and time
                        var now = new Date().getTime();

                        // Find the distance between now an the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        this.params.daysEl.text(days);
                        this.params.hoursEl.text(hours);
                        this.params.minsEl.text(minutes);
                        this.params.secsEl.text(seconds);

                        // If the count down is finished, write some text
                        if (distance < 0) {
                            this.stop();
                        }
                    }, 1000); 
                }
                return ComingSoon;
            })();


            var myEvent = new ComingSoon("Apr 15, 2019 09:30:00");

            myEvent.init({
                daysEl:$(".prs_ec_ue_timer_wrapper #clockdiv .days"),
                hoursEl:$(".prs_ec_ue_timer_wrapper #clockdiv .hours"),
                minsEl:$(".prs_ec_ue_timer_wrapper #clockdiv .minutes"),
                secsEl:$(".prs_ec_ue_timer_wrapper #clockdiv .seconds"),
            });*/

            if(window.location.hash){
                sections.each(function(i,el){
                    let obj = $(el);
                    obj.addClass('section-animation');
                });
            }


            $(window).on({
                scroll:function(e){
                    let pos = $(this).scrollTop();
                    if(pos >= 600){
                        mainMenu.addClass('active');
                    }
                    else if(pos <= 120){
                        mainMenu.removeClass('active');
                    }

                    sections.each(function(i,el){
                        let obj = $(el);
                        let top = obj.offset().top;
                        let delta = top - pos;
                        if(delta <= 600 && !obj.hasClass('section-animation')){
                            obj.addClass('section-animation');
                            //console.log(`section ${i}: top: ${top}, scrollTop: ${pos}`)
                        }
                    });
    
                }
            });

            $(".has-carousel").each(function(i,el){
                let obj = $(el);
                let owl = obj.find(".owl-carousel");

                obj.find(".slide-nav.nav-n, .slide-nav.nav-p").on({
                    click:function(e){
                        e.preventDefault();
                        if($(this).hasClass('nav-n')){
                            owl.trigger('next.owl.carousel');
                        }
                        else{
                            owl.trigger('prev.owl.carousel');
                        }
                    }
                });

                let opts = {
                    loop:true,
                    //margin:3,
                };

                if(obj.attr('id') == "block-acteurs"){
                    opts.items = 4;
                    opts.margin = 4;
                }
                else if(obj.attr('id') == "apex"){
                    opts.items = 6;
                    opts.margin = 10;
                    opts.autoplay = true;
                    opts.responsive = {
                        0: {
                            items: 1,
                        },
                        500: {
                            items: 2,
                        },
                        700: {
                            items: 2,
                        },
                        800: {
                            items: 2,
                        },
                        900: {
                            items: 2,
                        },
                        1000: {
                            items: 6,
                        }
                    };
                    //opts.loop = false;
                }
                else{
                    opts.items = 1;
                }

                owl.owlCarousel(opts);
            });


            /*$(".album-slider").bxSlider({
                minSlides: 1,
                maxSlides: 10,
                slideWidth: 257,
                slideMargin: 17,
                ticker: true,
                tickerHover: true,
                speed: 20000,
                useCSS: false, 
                infiniteLoop: false
                
                });

            $(".movie-cast-slider").bxSlider({
                minSlides: 1,
                maxSlides: 10,
                slideWidth: 257,
                slideMargin: 17,
                ticker: true,
                tickerHover: true,
                speed: 20000,
                useCSS: false, 
                infiniteLoop: false
            });


            $(".prs_vp_left_slider").bxSlider({
                minSlides: 1,
                autoDirection: 'next',
                mode: 'vertical',
                maxSlides: 10,
                slideWidth: 257,
                slideMargin: 5,
                ticker: true,
                tickerHover: true,
                speed: 15000,
                useCSS: false, 
                infiniteLoop: false,
            });

            $(".prs_vp_right_slider").bxSlider({
                minSlides: 1,
                mode: 'vertical',
                autoDirection: 'prev',
                maxSlides: 10,
                slideWidth: 257,
                slideMargin: 5,
                ticker: true,
                tickerHover: true,
                speed: 15000,
                useCSS: false, 
                infiniteLoop: false,
            });

            $('.prs_vp_center_slider .owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                responsiveClass: true,
                smartSpeed: 1200,
                dots:false,
                navText:['<i class="fa fa-play"></i>','<i class="fa fa-play"></i>'],
                responsive: {
                    0: {
                        items: 1,
                        nav: true,

                    },
                    500: {
                        items: 1,
                        nav: true,
                    },
                    700: {
                        items: 1,
                        nav: true,
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        loop: true,
                        margin: 20,
                    }
                },
            });*/

            /* 09. VENOBOX JS */
            $('.venobox').venobox({
                numeratio: true,
                titleattr: 'data-title',
                titlePosition: 'top',
                titleColor:"#ffffff",
                spinner: 'wandering-cubes',
                spinColor: '#007bff',
                autoplay:true
            });


            $('#bxslider-baner').bxSlider({
                mode: 'fade',
                captions: false,
                auto:true,
                easing:'ease-in-out',
            });

            if(window.location.hash == "#apex"){
                $("html,body").animate({scrollTop:$("#apex").offset().top - 300 },500)
            }

        });
    </script>

    
    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFJv-Gz2nkIXlLGQlQYn9OPLsjkRdMmvM&callback=initMap"></script>

    <script>
        
        function initMap() {
            var uluru = {lat: 5.331017, lng: -3.998667};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: '{{ site.name|lower|title }}',
                animation: google.maps.Animation.DROP,
                label:"C"
            });
        }

       
    </script>

{% endblock %}
