{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-2.css','css') }}">
    <link rel="stylesheet" href="{{ asset('css/l-entreprise.css','css') }}">

    <style>
		header #master-cover{
			height: 200px;
            background-image: url({{asset('img/illustrator-banner.jpg')}});
		}
    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}

        <div id="master-cover"></div>

        <div id="master-cover-overlay"></div>

        <div id="gender-print">
            <h1 class="display-4 text-light">L'entreprise</h1>
        </div>

    </header>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3 order-2 d-none d-xl-block d-md-block d-lg-block">

                <div class="bd-toc section-nav">
                    <ul class="list-unstyled">
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-aboutus">A propos de nous</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-values">Nos valeurs</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-vision">Notre vision</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-catalog">Notre catalogue</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-ambition">Notre ambition</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-team">Notre équipe</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-parthnership">Nos Partenaires</a>
                        </li>

                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#map">Nous retrouver</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 order-1">

                <section style="margin-top:60px" id="anchor-aboutus">
                    <h3 class="mblock-title mblock-title-info">A Propos de nous</h3>
                    <br>

                    <p>
                        CÔTE OUEST est une entreprise Africaine indépendante, leader de la distribution de contenus audiovisuels en Afrique. Elle opère depuis 1993, et s’appuie sur un réseau de 93 collaborateurs répartis sur l’ensemble du Continent. Si l’implantation principale de CÔTE OUEST se trouve à Abidjan (Côte d’Ivoire), l’entreprise est également présente à Ebène (Ile Maurice) et à Johannesburg (Afrique du Sud)
                    </p>

                    <p>
                        <img width="250" class="float-left img-fluid rounded mr-2" src="{{asset('img/videotheque.jpg')}}" alt="cote ouest audiovisuel. a propos de nous">

                        Avec la création de CÔTE OUEST, Bernard Azria, l’un des meilleurs spécialistes en marketing et communication d’Afrique francophone, a ouvert la voie à un nouveau secteur d’activité, encore inexistant à l’époque dans cette région. Il fut donc le pionnier de cette activité sur le continent. Aujourd’hui, CÔTE OUEST distribue annuellement près de 20 000 heures de programmes, à plus de 100 clients, éditeurs de services linéaires et non linéaires, qui par tous les moyens de diffusion existants actuellement pénètrent 63 marchés principaux et le monde entier pour certains. Si historiquement l’activité de CÔTE OUEST a commencé par la distribution de contenu provenant de diverses Majors d’Hollywood telles que SPTI, MGM, TWDC, CBS, sur l’Afrique subsaharienne francophone, cette dernière a rapidement étendu son activité sur l’ensemble de l’Afrique francophone, la France et les DOM-TOM.<br>
                        Pariant sur un bon accueil des Télénovelas sud-américaines, Côte Ouest fut encore pionnière dans l’introduction de ces programmes sur ces territoires, créant ainsi un véritable phénomène d’audience, voir un phénomène de société qui perdure encore aujourd’hui, ce qui a conduit l’entreprise à signer avec le géant Globo TV International, dès 1999, un accord de distribution exclusif pour l’Afrique Francophone et Anglophone, la France et les DOM-TOM, accord récemment reconduit jusqu’en 2023.
                        <br><br>
                        En parallèle, Côte ouest a progressivement étendu son activité au marché Anglophone. Marché sur lequel, l’entreprise s’impose, chaque jour un peu plus, comme un acteur important.<br>
                        A l’aube des années 2 000, prenant acte de l’orientation de plus en plus marquée de la demande des téléspectateurs pour le contenu Africain, Côte Ouest une nouvelle fois pionnier a patiemment et systématiquement, construit le plus important des catalogues Africains existant sur le marché. Ce catalogue premier du genre, contient des programmes venant de toutes les parties du continent. Certains titres sont distribués dans leurs versions originales, qu’elles soient Françaises, Anglaises ou Angolaises.  De plus, Côte Ouest assure le doublage des meilleures d’entre eux afin de les distribuer hors de leur région d’origine , créant ainsi le première exercice de ce qu’elle nomma  la «  Cross Fertilization », c’est-à-dire permettre à des publics voisins de visionner les programmes de voisinage. Ici encore Côte ouest fut pionnière, avec « L’histoire d’une vie », doublée du Français à l’anglais et distribué dans 14 pays Anglophones, avec « Jacob Cross » doublé de l’Anglais au Français et distribué dans 45 pays francophones,  « Windeck » doublé de l’Angolais vers le Français et l’Anglais pour être distribué respectivement dans 40 pays francophones et 37 pays Anglophones. <br>
                        Ainsi, le catalogue de Côte Ouest, riche de près de 20 000 heures englobe tous les genres; feuilletons, séries, films, documentaires, animations etc., principalement d’Afrique (ou plutôt des Afriques), d’Amérique du Sud, et des programmes à succès en provenance d’Hollywood. 
                    </p>

                    
                </section>

                <section style="margin-top:60px" id="anchor-values">
                    <h3 class="mblock-title mblock-title-info">Nos valeurs</h3>
                    <br>

                    <p>
                        Nos valeurs mettent au-dessus de tout l’Ethique, l’Honnêteté, la Sincérité, la Modestie, et l’Engagement à servir de toutes nos forces nos clients qui s’appuient sur nous pour la réussite de leurs services et les producteurs qui nous confient leur bien le plus précieux pour le faire prospére.            
                    </p>
                </section>

                <section style="margin-top:60px" id="anchor-vision">
                    <h3 class="mblock-title mblock-title-info">Notre Vision</h3>
                    <br>

                    <p>
                        Que ce soit dans les arts, la littérature, la musique… dans tous les domaines, l’Afrique regorge de talents, et a donné énormément de ces talents au Monde. L’Afrique mérite une bien meilleure place dans le concert des nations et nous pensons qu’il est temps pour ces talents de servir les rêves et les ambitions de l’Afrique. It’s Time For Africa !           
                    </p>

                    <br>
                    <img class="img-fluid rounded" src="http://coteouest.tv/imgs/its-time-for-africa-def.jpg" alt="cote ouest audiovisuel. a propos de nous">

                    <br>
                    <br>

                    <p>
                        En effet, nous croyons que le temps est venu pour les Africains de raconter leurs propres histoires. Nous pensons que la créativité africaine mérite une meilleure place sur la scène internationale. Nous sommes convaincus que la production africaine peut voyager à travers et au-delà des frontières géographiques de son continent. Nous aimons passionnément la singularité de chacune de ces Afriques, dont les frontières visibles et invisibles vont bien au-delà du continent. Nous savons à quels points toutes ces Afriques sont belles, riches et colorées, et nous avons la grande ambition de réunir l’ensemble de ces flamboyantes couleurs.             
                    </p>
                </section>

                <section style="margin-top:60px" id="anchor-catalog">
                    <h3 class="mblock-title mblock-title-info">NOTRE CATALOGUE</h3>
                    <br>

                    <p>
                        Nous croyons fortement que l’Afrique ne pourra réussir qu’à la condition qu’elle abolisse les séparations qui furent historiquement érigées en son sein, et que ce faisant elle réunisse ces forces, et plaidons pour cette profession de foi sous le credo « UNITED COLORS OF AFRICA ».       
                    </p>

                   
                    <p>
                       Nous avons nommé ainsi notre Catalogue qui réunit des programmes originaires de 17 pays africains et de leurs diasporas : UNITED CONTENT OF AFRICA             
                    </p>

                    <p>
                        Ainsi, ce catalogue, riche de près de 20 000 heures englobe tous les genres ; feuilletons, séries, films, documentaires, animations etc., principalement d’Afrique (ou plutôt des Afriques), d’Amérique du Sud, mais n’exclus pas quelques programmes US. 

                    </p>
                </section>

                <section style="margin-top:60px" id="anchor-ambition">
                    <h3 class="mblock-title mblock-title-info">NOTRE AMBITION</h3>
                    <br>

                    <p>
                        L’Afrique, c’est également une diaspora de plus de 200 millions de personnes répartie aux quatre coins de la planète. Une diaspora qui a soif de contenu africain. Le dynamisme de l’industrie audiovisuelle en Afrique, a permis et permet la création d’œuvres de qualité qui peuvent maintenant revendiquer leur place dans la programmation des chaînes de télévision à l’international. Notre ambition est donc de porter l’Afrique au-delà de ses frontières. Mais au-delà, l’appétit des auditeurs à l’international pour des contenus originaux, nécessite de s’orienter vers les nouveaux marchés qu’offre le sud. Et nous sommes convaincus qu’un grand potentiel se cache dans la collaboration sud-sud, encore trop peu exploitée. En tant que distributeur, la plus-value qu’apporte Côte Ouest est de sortir des sentiers battus et de proposer de nouvelles voies encore peu explorées. Ainsi Côte Ouest grâce à son expertise sur les marchés de l’Amérique latine, l’Afrique et les Iles, est convaincue que sublimant les frontières, émergera bientôt une culture du contenu Métisse dont la ceinture transversale, encerclera un monde dont l’OTT a déjà supprimé les frontières.   Côte Ouest, déjà considéré comme le One stop shop du contenu Africain, se projette comme le champion   des contenus du Sud.     
                    </p>
                </section>



                <section style="margin-top:80px" id="anchor-team">
                
                    <div class="prs_about_team_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3 class="mblock-title mblock-title-info">L'équipe</h3>
                                <br>
                                <br>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">

                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">

                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{asset('img/ceo.jpg')}}" alt="Bernard Azria. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Bernard Azria.</a></h2>
                                        <p>CEO</p>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                               
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="http://webstrot.com/html/moviepro/images/content/about/tm4.jpg" alt="olivia dadié. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">olivia dadié</a></h2>
                                        <p>Director</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="http://webstrot.com/html/moviepro/images/content/about/tm3.jpg" alt="ange kouadio. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">ange kouadio.</a></h2>
                                        <p>Director</p>
                                    </div>
                                </div>
                            </div>
                                


                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                               
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="http://webstrot.com/html/moviepro/images/content/about/tm2.jpg" alt="adjé brice. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">adjé brice.</a></h2>
                                        <p>Director</p>
                                    </div>
                                </div>
                            </div>

                            

                           
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="http://webstrot.com/html/moviepro/images/content/about/tm6.jpg" alt="Vijay p. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Vijay p.</a></h2>
                                        <p>Director</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="http://webstrot.com/html/moviepro/images/content/about/tm7.jpg" alt="ajay S. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">ajay S.</a></h2>
                                        <p>Director</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="has-carousel" id="anchor-parthnership">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 class="mblock-title mblock-title-info">Nos partenaires</h3>
                            <br>
                            <br>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="owl-carousel">
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p1.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p2.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p3.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p4.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p5.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="http://webstrot.com/html/moviepro/images/content/p6.jpg" alt="cote ouest audiovisuel. a propos de nous">
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </div>

    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>

     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFJv-Gz2nkIXlLGQlQYn9OPLsjkRdMmvM&callback=initMap"></script>

    <script>
        $(document).ready(function($){

            let mainMenu = $("#master-menu");
            var win = $(window);

            win.on({
                scroll:function(e){

                    let pos = $(this).scrollTop();
                    if(pos >= 230){
                        mainMenu.addClass('active');
                    }
                    else if(pos <= 120){
                        mainMenu.removeClass('active');
                    }
                }
            });



            $(".has-carousel").each(function(i,el){
                let obj = $(el);
                let owl = obj.find(".owl-carousel");

                obj.find(".slide-nav.nav-n, .slide-nav.nav-p").on({
                    click:function(e){
                        e.preventDefault();
                        if($(this).hasClass('nav-n')){
                            owl.trigger('next.owl.carousel');
                        }
                        else{
                            owl.trigger('prev.owl.carousel');
                        }
                    }
                });

                let opts = {
                    loop:true,
                    items:4,
                    autoplay:true,
                    autoplayTimeout:2000
                };

                owl.owlCarousel(opts);
            });

            $(".anchor").on({
                click:function(e){
                    e.preventDefault();

                    let obj = $(this);
                    let id = obj.attr("href");

                    $("html, body").animate({ scrollTop: $(id).offset().top-100 }, 1000);
                }
            });

            function genrePrintHook(){
                let gp = $("#gender-print");
                let gpp = gp.parent();
                let hr = gpp.innerHeight() + $("#master-menu").innerHeight();

                gp.css({
                    left:(gpp.innerWidth()/2) - (gp.innerWidth()/2),
                    top:(hr/2) - (gp.innerHeight()/2),
                    visibility:'visible'
                });
            }
            
            $(window).on({
                resize:function(e){
                    genrePrintHook();
                }
            });
            genrePrintHook();


        });
    </script>

    <script>
        function initMap() {
            var uluru = {lat: 5.331036, lng: -4.0009177};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

       
    </script>
{% endblock %}
