{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-2.css') }}">

    <style>
		header #master-cover{
			height: 200px;
		}
    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}

        <div id="master-cover"></div>
    </header>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-12 col-sm-12">

                <section style="min-height:800px;margin-top:20px">
                    <h3>L'entreprise</h3>

                    
                </section>

                
            </div>
        </div>

    </div>

    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/main-menu-manager.js') }}"></script>

     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFJv-Gz2nkIXlLGQlQYn9OPLsjkRdMmvM&callback=initMap"></script>

    <script>
        function initMap() {
            var uluru = {lat: 5.331036, lng: -4.0009177};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

       
    </script>
{% endblock %}
