{% extends 'base.html.twig' %}

{% block title %}
   Histoire de la compagnie Côte Ouest Audiovisuel 
{% endblock %}

{% block meta_description %}

    <meta name="description" content="En tant que premier distributeur d'œuvre audiovisuelle en Afrique depuis 1997, Côte Ouest incite et inspire ces partenaires à faire preuve d'innovation et de créativité. Nous apportions des solutions durables aux défis de notre industrie.">
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-2.css','css') }}">
    <link rel="stylesheet" href="{{ asset('css/l-entreprise.css','css') }}">

    <style>
		header #master-cover{
			height: 200px;
            background-image: url("{{asset('img/bannieres/slim/'~random(['the-river.jpg','mr-brau.jpg','edge-of-desire.jpg']))}}"); 
            /* background-image: url("{{asset('img/illustrator-banner.jpg')}}"); */
		}
    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}

        <div id="master-cover"></div>

        <div id="master-cover-overlay"></div>

        <div id="gender-print">
            <h1 class="display-4 text-light">L'entreprise</h1>
        </div>

    </header>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3 order-2 d-none d-xl-block d-md-block d-lg-block">

                <div class="bd-toc section-nav">
                    <ul class="list-unstyled">
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-aboutus">{{ 'A propos de nous'|trans({},"about-us") }}</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-values">{{'Nos valeurs'|trans({},"about-us")}}</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-position">{{'Notre positionnement'|trans({},"about-us")}}</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-vision">{{'Notre vision'|trans({},"about-us")}}</a>
                        </li>
                        {#<li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-catalog">{{'Notre catalogue'|trans({},"about-us")}}</a>
                        </li>#}
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-ambition">{{'Notre ambition'|trans({},"about-us")}}</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-team">{{'Notre équipe'|trans({},"about-us")}}</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#anchor-parthnership">{{'Nos Partenaires'|trans({},"about-us")}}</a>
                        </li>

                        <li class="toc-entry toc-h2">
                            <a class="anchor" href="#map">{{'Nous retrouver'|trans({},"about-us")}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 order-1">

                <section style="margin-top:60px" id="anchor-aboutus">
                    <h3 class="mblock-title mblock-title-info">
                        {{ 'A propos de nous'|trans({},"about-us") }}
                    </h3>
                    <br>

                    {{ 'about-us.text'|trans({"%img_path%":asset('img/videotheque.jpg')},"about-us")|raw }}

                    
                </section>

                <section style="margin-top:60px" id="anchor-values">
                    <h3 class="mblock-title mblock-title-info">
                        {{'Nos valeurs'|trans({},"about-us")}}
                    </h3>
                    <br>

                    <p>
                        {{ 'nos.valeurs.text'|trans({},"about-us") }}     
                    </p>
                </section>

                <section style="margin-top:60px" id="anchor-position">
                    <h3 class="mblock-title mblock-title-info">
                        {{'Notre positionnement'|trans({},"about-us")}}
                    </h3>
                    <br>

                    <p>
                        {{ 'notre.positionnement.text'|trans({},"about-us") }}      
                    </p>
                </section>

                <section style="margin-top:60px" id="anchor-vision">
                    <h3 class="mblock-title mblock-title-info">
                        {{ 'Notre vision'|trans({},"about-us")|raw }}
                    </h3>
                    <br>

                    {{ 'notre.vision.text'|trans({},"about-us")|raw }} 

                </section>

                {#<section style="margin-top:60px" id="anchor-catalog">
                    <h3 class="mblock-title mblock-title-info">
                        {{'Notre catalogue'|trans({},"about-us")}}
                    </h3>
                    <br>
                    
                    {{ 'notre.catalogue.text'|trans({},"about-us")|raw }} 
                    
                </section>#}

                <section style="margin-top:60px" id="anchor-ambition">
                    <h3 class="mblock-title mblock-title-info">
                        {{'Notre ambition'|trans({},"about-us")}}
                    </h3>
                    <br>

                    <p>
                        {{ 'notre.ambition.text'|trans({},"about-us") }}     
                    </p>

                </section>



                <section style="margin-top:80px" id="anchor-team">
                
                    <div class="prs_about_team_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3 class="mblock-title mblock-title-info">
                                    {{'Notre équipe'|trans({},"about-us")}}
                                </h3>
                                <br>
                                <br>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">

                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">

                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/6.jpg') }}" alt="Bernard Azria. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Bernard Azria.</a></h2>
                                        <p>CEO</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                               
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/1.jpg') }}" alt="Awoua keïta. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li>
                                                    <a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Awoua keïta.</a></h2>
                                        <p>{{"Responsable Acquisition"|trans({},"about-us")}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/2.jpg') }}" alt="Babacar Diouf. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Babacar Diouf.</a></h2>
                                        <p>{{"Responsable Production"|trans({},"about-us")}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/3.jpg') }}" alt="Maï Tiote. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Maï Tiote.</a></h2>
                                        <p>{{"Responsable Communication Produits"|trans({},"about-us")}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                               
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/4.jpg') }}" alt="Gilles N’Takpe. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Gilles N’Takpe.</a></h2>
                                        <p>{{"Directeur Artistique et Technique"|trans({},"about-us")}}</p>
                                    </div>
                                </div>
                            </div>

                            

                           
                            

                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 prs_ap_colum_full">
                                <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper">
                                    <div class="prs_about_first_mem_img_wrapper">
                                        <img src="{{ asset('img/employees/7.jpg') }}" alt="Blanche M’BE. cote ouest audiovisuel. a propos de nous">
                                        <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4te-Ouest-Audiovisuel/204058126314146?ref=hl"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a target="_blank" href="https://twitter.com/CoteOUEST2"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                        <h2><a href="#">Blanche M’BE.</a></h2>
                                        <p>
                                            {{"Responsable Gestion des supports"|trans({},"about-us")}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="has-carousel" id="anchor-parthnership">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 class="mblock-title mblock-title-info">
                                {{'Nos Partenaires'|trans({},"about-us")}}
                            </h3>
                            <br>
                            <br>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="owl-carousel">
                                <a class="item" href="http://www.cbs.com/" target="_blank">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/1.png') }}" alt="CBS - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.disney.fr/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/2.png') }}" alt="disney - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.dv8.co.uk/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/3.png') }}" alt="dv8 - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.globotvinternational.com/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/4.png') }}" alt="globo tv international - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.mgm.com/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/5.png') }}" alt="mgm - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://mnet.dstv.com/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/6.png') }}" alt="mnet - dstv cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.sabc.co.za/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/7.png') }}" alt="sabc - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.sbs.com.au/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/8.png') }}" alt="sbs - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://abc.go.com/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/9.png') }}" alt="abc - cote ouest audiovisuel. a propos de nous">
                                </a>

                                <a href="http://www.viacom.com/" target="_blank" class="item">
                                    <img style="height:89px;width:89px" class="img-fluid" src="{{ asset('img/partners/10.png') }}" alt="viacom - cote ouest audiovisuel. a propos de nous">
                                </a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </div>

    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/admin/manager.js','js') }}"></script>
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/plugins/SlimBanerSlide.js','js') }}"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFJv-Gz2nkIXlLGQlQYn9OPLsjkRdMmvM&callback=initMap"></script>

    <script>
        $(document).ready(function($){

            let mainMenu = $("#master-menu");
            var win = $(window);

            win.on({
                scroll:function(e){

                    let pos = $(this).scrollTop();
                    if(pos >= 230){
                        mainMenu.addClass('active');
                    }
                    else if(pos <= 120){
                        mainMenu.removeClass('active');
                    }
                }
            });



            $(".has-carousel").each(function(i,el){
                let obj = $(el);
                let owl = obj.find(".owl-carousel");

                obj.find(".slide-nav.nav-n, .slide-nav.nav-p").on({
                    click:function(e){
                        e.preventDefault();
                        if($(this).hasClass('nav-n')){
                            owl.trigger('next.owl.carousel');
                        }
                        else{
                            owl.trigger('prev.owl.carousel');
                        }
                    }
                });

                let opts = {
                    loop:true,
                    items:6,
                    autoplay:true,
                    autoplayTimeout:2000
                };

                owl.owlCarousel(opts);
            });

            $(".anchor").on({
                click:function(e){
                    e.preventDefault();

                    let obj = $(this);
                    let id = obj.attr("href");

                    $("html, body").animate({ scrollTop: $(id).offset().top-100 }, 1000);
                }
            });

            function genrePrintHook(){
                let gp = $("#gender-print");
                let gpp = gp.parent();
                let hr = gpp.innerHeight() + $("#master-menu").innerHeight();

                gp.css({
                    left:(gpp.innerWidth()/2) - (gp.innerWidth()/2),
                    top:(hr/2) - (gp.innerHeight()/2),
                    visibility:'visible'
                });
            }
            
            $(window).on({
                resize:function(e){
                    genrePrintHook();
                }
            });
            genrePrintHook();


            var slider = new AdminManager.plugins.SlimBanerSlide();
    
            slider.subscribe(event=>{
                
            });

            slider.init({
                container:'header #master-cover',
                data:['the-river.jpg','mr-brau.jpg','edge-of-desire.jpg'],
                delay:7000,
                current:0,
            });


        });
    </script>

    <script>
        function initMap() {
            var uluru = {lat: 5.331036, lng: -4.0009177};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

       
    </script>
{% endblock %}
