{% for item in data %}
	<tr class="data-item" data-id="{{ item.id }}">
		<td class="data-item-image" valign="top">
			<a href="{{ path('movie_index',{'slug':item.slug}) }}" target="_blank" data-title="afficher sur le site" data-toggle="tooltip">
				{% if item.portraitImg %}
					<img  src="{{ asset('upload/public/'~item.portraitImg) }}" alt="" />
				{% else %}
					<img  src="{{ asset('admin/dist/img/default-50x50.gif') }}">
				{% endif %}
			</a>
		</td>

		<td class="data-item-name" valign="top">
			<a href="" class="edit">
				{{ item.name|lower|title }}
			</a>
			
		</td>

		<td class="data-item-originalname" style="text-align:center" valign="top">
			{{ item.originalName|lower|title }}
		</td>

		<td class="data-item-category" style="text-align:center" width="100" valign="top">
			{% if item.category %}
				{{ item.category.name|lower|title }}
			{% else %}
				-
			{% endif %}
		</td>

		<td class="data-item-originalLanguage" style="text-align:center" width="100" valign="top">
			{% if item.language %}
				{{ item.language.name|lower|title }}
			{% else %}
				-
			{% endif %}
		</td>

		<td class="data-item-format" style="text-align:center" width="100" valign="top">
			{% if item.format %}
				{{ item.format|lower|title }}
			{% else %}
				-
			{% endif %}
		</td>

		<td class="data-item-mention" style="text-align:center" width="100" valign="top">
			{% if item.mention %}
				{{ item.mention|upper }}
			{% else %}
				-
			{% endif %}
		</td>

		<td class="data-item-year" style="text-align:center" width="100" valign="top">
			{% set yearStart = item.yearStart|date("Y") %}

			{% if item.yearEnd %}
				{% set yearEnd = item.yearEnd|date("Y") %}

				{% if yearEnd == yearStart %}
					<span class="label label-default">
						{{ yearStart }}
					</span>
				{% else %}
					<span class="label label-default">
						{{ yearStart }}
					</span>
					
					<div>
						<i class="fa fa-arrow-down text-muted"></i>
					</div>

					<span class="label label-default">
						{{ yearEnd }}
					</span> 
				{% endif %}
				
			{% else %}
				<span class="label label-default">
					{{ yearStart }}
				</span>
			{% endif %}
		</td>

		<td class="data-item-theather" style="text-align:center" width="100" valign="top">
			{% if item.inTheather %}
				<span class="label bg-green">
					Oui
				</span> 
			{% else %}
				<span class="label label-default">
					Non
				</span> 
			{% endif %}
		</td>

		<td class="data-item-exclusivity" style="text-align:center" width="100" valign="top">
			{% if item.hasExclusivity %}
				<span class="label bg-green">
					Oui
				</span> 
			{% else %}
				<span class="label label-default">
					Non
				</span> 
			{% endif %}
		</td>

		<td class="data-item-exclusivity" style="text-align:center" width="100" valign="top">
			{% if item.isPublished %}
				<span class="label bg-green">
					Oui
				</span> 
			{% else %}
				<span class="label label-default">
					Non
				</span> 
			{% endif %}
		</td>

		<td class="data-item-exclusivity" style="text-align:center" width="100" valign="top">
			{% if item.state == 'approved' %}
				<span class="label bg-green">
					{{ item.state }}
				</span> 
			{% elseif item.state == 'deactivated' or  item.state == 'rejected' %}
				<span class="label bg-danger">
					{{ item.state }}
				</span> 
			{% else %}
				<span class="label label-default">
					{{ item.state }}
				</span> 
			{% endif %}
		</td>

		<td class="data-item-movies" style="text-align:center" valign="top">
			
			{% if item.trailer %}
				<a data-vbtype="video" numeratio="false" data-autoplay="true" href="{{ item.trailer }}" class="venobox" >Trailer</a> 
			{% endif %}

			{% if item.episode1 %}
				. <a data-vbtype="video" numeratio="false" data-autoplay="true" href="{{ item.episode1 }}" class="venobox" >Episode 1</a> 
			{% endif %}

			{% if item.episode2 %}
				. <a data-vbtype="video" numeratio="false" data-autoplay="true" href="{{ item.episode2 }}" class="venobox" >Episode 2</a> 
			{% endif %}

			{% if item.episode3 %}
				<a data-vbtype="video" numeratio="false" data-autoplay="true" href="{{ item.episode3 }}" class="venobox" >Episode 3</a> 
			{% endif %}

			{% if not item.episode1 and not item.episode2 and not item.episode3  %}
				-
			{% endif %}

		</td>

		{#<td style="vertical-align:middle">
			{{ item.createAt|date("d/m/Y à H:i") }}
		</td>#}
	</tr>
{% else %}
	{% if use_modal is defined %}
		<tr>
			<td colspan="12">
				<div class="alert alert-dismissible">
		        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		        	<h4><i class="icon fa fa-warning"></i> Oops!</h4>
		        	Aucun resultat ne correspont à votre recherche.
		        	<br>
		        	Veuillez réessayer
		      	</div>
			</td>
		</tr>
		
	{% endif %}
{% endfor %}