{% form_theme form 'bootstrap_3_layout.html.twig' %}

 <style>
    #vignette-cover{
        height: 360px;
        width: 920px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-cover-admin.png') }}") no-repeat left top / cover;
    }

    #vignette-portrait{
        height: 360px;
        width: 270px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette.png') }}") no-repeat left top / cover;
    }

    #vignette-landscape{
        height: 360px;
        width: 640px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-landscape.png') }}") no-repeat left top / cover;
    }

    .modal-form .has-collection .form-group > div{
        margin-bottom: 5px;
    }

    .modal-form .scene-dropper{
        min-height: 360px;
        border: 1px dashed #D0D8DB;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    

    .modal-form .local_files_view{
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding:100px;
        align-items: center;
        justify-content: center;
    }
   
    .modal-form .local_files_view h3{
        line-height: 1.4;
    }
    .modal-form .local_files_view svg{
            width: 10.3125rem
    }

    .scene-dropper.dropped .local_files_view{
        display: none;
    }

    @media (min-width: 992px){
        .modal-lg {
            width: 1080px;
        }
    }

    .old-value{
        border-radius:20px;
        margin-right:3px;
        padding:8px;
        margin-bottom: 5px;
    }

    
    .modal-form .scene-dropper >  .scene-thumbnail{
        margin-right: 10px;
        margin-bottom: 10px;
         position:relative;
        display: inline-block;
    }

    .modal-form .scene-dropper .scene-thumbnail a{
        color:white;
        position:absolute;
        right:10px;
        top:10px;
    }

    .modal-form .scene-dropper .progress{
        position:absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        margin-bottom: 0;
    }

    #modal-insert .scene-dropper .progress{
        display: none;
    }

</style>

{% if use_modal is defined %}
    <div class="modal fade modal-form" id="modal-insert" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% else %}
    <div class="modal fade modal-form" id="modal-update" data-id="{{ data.id }}" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% endif %}

    <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content" >
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    {% if use_modal is defined and use_modal == 'add' %}
                       Ajouter un programme
                    {% else %}
                        Modification...
                    {% endif %}
                    
                </h4>

               
            </div>
            
            {{ form_start(form) }}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.originalName) }}
                        </div>

                         <div class="col-md-4">
                            {{ form_row(form.category) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.originalLanguage) }}
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.format) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_row(form.mention) }}
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.year_start) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_row(form.year_end) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                           {{ form_row(form.episode1) }}
                        </div>

                        <div class="col-md-4">
                           {{ form_row(form.episode2) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.episode3) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.trailer) }}
                        </div>
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-4">

                        </div>
                    </div>

                   
                    {{ form_row(form.synopsis) }}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.reward) }}
                        </div>

                        <div class="col-md-4">
                           {{ form_row(form.award) }}                        
                        </div>

                         <div class="col-md-4">
                           {{ form_row(form.audience) }}                        
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-md-4 has-collection">

                            {{ form_label(form.languages) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.languages %}
                                        <div class="label label-info old-value">
                                            {{ item.language.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                               
                                {{ form_errors(form.languages) }}
                                {{ form_widget(form.languages) }}

                                <a  href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 has-collection">

                            {{ form_label(form.genres) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.genres %}
                                        <div class="badge label-info old-value">
                                            {{ item.genre.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                {{ form_errors(form.genres) }}
                                {{ form_widget(form.genres) }}

                                <a href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 has-collection">
                            {{ form_label(form.countries) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.countries %}
                                        <div class="badge label-info old-value">
                                            {{ item.country.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                               
                                {{ form_errors(form.countries) }}
                                {{ form_widget(form.countries) }}

                                <a href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 has-collection">
                            {{ form_label(form.actors) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.actors %}
                                        <div class="badge label-info old-value">
                                            {{ item.actor.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                               
                                {{ form_errors(form.actors) }}
                                {{ form_widget(form.actors) }}

                                <a href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 has-collection">
                            {{ form_label(form.producers) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.producers %}
                                        <span class="badge label-info old-value">
                                            {{ item.producer.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                        <br>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                
                                {{ form_errors(form.producers) }}
                                {{ form_widget(form.producers) }}

                                <a href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 has-collection">
                            
                            {{ form_label(form.directors) }}

                            {% if use_modal is not defined %}
                                <div class="form-group">
                                    {% for item in data.directors %}
                                        <span class="badge label-info old-value">
                                            {{ item.director.name|lower|title }} 
                                            
                                            &nbsp;&nbsp;
                                            <a href="" data-title="supprimer" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                        <br>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                
                                {{ form_errors(form.directors) }}
                                {{ form_widget(form.directors) }}

                                <a href="" class="collection-add">
                                    <i class="fa fa-plus"></i> ajouter
                                </a>
                            </div> 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.inTheather) }}
                        {{ form_errors(form.inTheather) }}
                        {{ form_widget(form.inTheather) }}
                        <p class="help-block">
                            Les programmes à l'affiche apparaissent sur la page d'accueil du site. en vue de les mettre en avant.
                        </p>
                    </div> 

                    <div class="form-group">
                        {{ form_label(form.hasExclusivity) }}
                        {{ form_errors(form.hasExclusivity) }}
                        {{ form_widget(form.hasExclusivity) }}
                        <p class="help-block">
                            Il ne peut y avoir qu'un seul programme à plébiciter à la fois sur le site.
                            <br>
                            il apparait sous le titre de <strong>Production à la une</strong> ou <strong>Video à la une</strong>
                        </p>
                    </div> 

                    <div class="form-group">
                        {{ form_label(form.isPublished) }}
                        {{ form_errors(form.isPublished) }}
                        {{ form_widget(form.isPublished) }}
                        <p class="help-block">
                            Une fois ce programme enregistré il apparaitra sans moderation préalable sur le site.
                        </p>
                    </div> 

                    <hr>

                    <div class="row program-resources">
                        <div class="col-md-4">
                            {{ form_label(form.portraitImg) }}
                            {{ form_errors(form.portraitImg) }}

                            <div style="display:inline-block;position:relative;" class="dropper">
                                {{ form_widget(form.portraitImg) }}


                                <div class="dropper-target" id="vignette-portrait" 
                                
                                    {% if form.vars.value.portraitImg %}
                                        style="background-image:url({{ asset('upload/public/'~form.vars.value.portraitImg) }})" 
                                    {% endif %}

                                ></div>

                                <div class="prs_upcom_video_img_cont_over">
                                    <h2>Image à charger 270x360</h2>
                                    <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                    <button type="button" class="btn btn-info reset-file">Annuler</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            {{ form_label(form.landscapeImg) }}
                            {{ form_errors(form.landscapeImg) }}
                            
                            <div style="display:inline-block;position:relative;" class="dropper">
                                {{ form_widget(form.landscapeImg) }}

                                <div class="dropper-target" id="vignette-landscape" 
                                
                                    {% if form.vars.value.landscapeImg %}
                                        style="background-image:url({{ asset('upload/public/'~form.vars.value.landscapeImg) }})" 
                                    {% endif %}

                                ></div>

                                <div class="prs_upcom_video_img_cont_over">
                                    <h2>Image à charger 640x360</h2>
                                    <br>
                                    <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                    <button type="button" class="btn btn-info reset-file">Annuler</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <hr>
                    {{ form_label(form.coverImg) }}
                    {{ form_errors(form.coverImg) }}
                    

                    <div style="text-align:center " >
                        <div style="display:inline-block;position:relative;text-align:center" class="dropper">
                            {{ form_widget(form.coverImg) }}
                            
                            <div class="dropper-target" id="vignette-cover" 

                                {% if form.vars.value.coverImg %}
                                    style="background-image:url({{ asset('upload/public/'~form.vars.value.coverImg) }})" 
                                {% endif %}

                            ></div>

                            <div class="prs_upcom_video_img_cont_over">
                                <h2>Image à charger 1920x1080</h2>
                                <br>
                                <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                <button type="button" class="btn btn-info reset-file">Annuler</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    {{ form_row(form.gallery) }}

                    <div class="form-group scene-dropper" draggable="false">
                        <div class="local_files_view">
                            <div>
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 53"><g id="Symbols"><g id="Main-Thing"><g id="Group"><g id="Group-3"><g id="dragdrop_emptystate" data-name="dragdrop emptystate"><g id="Group-2" data-name="Group"><path id="Shape" d="M77.82,39H76.61V36.62H79v1.2A1.21,1.21,0,0,1,77.82,39Z" fill="#b2bec7"></path><path id="Shape-2" data-name="Shape" d="M74.18,39H71.76V36.62h2.42Zm-4.85,0H66.91V36.62h2.42Z" fill="#b2bec7"></path><path id="Shape-3" data-name="Shape" d="M16.48,11.56H14.06V9.27h2.42Zm0-4.57H14.06V4.7h2.42Z" fill="#b2bec7"></path><path id="Shape-4" data-name="Shape" d="M16.48,2.41H14.06V1.2A1.14,1.14,0,0,1,15.27,0h1.21Z" fill="#b2bec7"></path><path id="Shape-5" data-name="Shape" d="M74.18,2.41H71.76V0h2.42Zm-4.85,0H66.91V0h2.42Zm-4.85,0H62.06V0h2.42Zm-4.72,0H57.33V0h2.43Zm-4.85,0H52.48V0h2.43Zm-4.85,0H47.64V0h2.42Zm-4.73,0H42.91V0h2.42Zm-4.85,0H38.06V0h2.42Zm-4.84,0H33.21V0h2.43Zm-4.73,0H28.48V0h2.43Zm-4.85,0H23.64V0h2.42Zm-4.85,0H18.79V0h2.42Z" fill="#b2bec7"></path><path id="Shape-6" data-name="Shape" d="M79,2.41H76.61V0h1.21A1.14,1.14,0,0,1,79,1.2Z" fill="#b2bec7"></path><path id="Shape-7" data-name="Shape" d="M79,34.33H76.61V32H79Zm0-4.58H76.61V27.46H79Zm0-4.45H76.61V23H79Zm0-4.58H76.61V18.43H79Zm0-4.58H76.61V13.85H79Zm0-4.58H76.61V9.27H79ZM79,7H76.61V4.7H79Z" fill="#b2bec7"></path></g><g id="Group-3-2" data-name="Group"><g id="Shape-8" data-name="Shape"><path d="M63.64,40.47,9.21,51.8a.81.81,0,0,1-.85-.49L1.45,18.43a.53.53,0,0,1,.49-.72L56.36,6.38a.54.54,0,0,1,.73.49l7,32.88C64.24,40,64,40.35,63.64,40.47Z" fill="#fff"></path><path d="M9.09,53a1.39,1.39,0,0,1-1-.36,2.2,2.2,0,0,1-.85-1.21L.36,18.67a2,2,0,0,1,.25-1.44,2.16,2.16,0,0,1,1.21-.85L56.24,5.06a2.12,2.12,0,0,1,1.46.24,2.27,2.27,0,0,1,.85,1.2l6.9,32.89a2,2,0,0,1-.24,1.44,2.19,2.19,0,0,1-1.21.85L9.45,53ZM2.79,18.67l6.66,31.8L62.79,39.39,56.12,7.59Z" fill="#192e3c"></path></g><path id="Shape-9" data-name="Shape" d="M38.55,28.79l-7.88,7a.86.86,0,0,1-1.46-.48L27,25.05a.84.84,0,0,1,1.09-1l10.06,3.25A.87.87,0,0,1,38.55,28.79Z" fill="#b2bec7"></path></g></g></g></g></g></g></svg>
                            </div>
                            <div>
                                <h3>Glissez et déposez içi pour ajouter des photos à la galerie.</h3>
                            </div>
                        </div>
                    </div>


                    
                </div>

                <div class="modal-footer">

                    <div class="pull-left">
                        <button type="reset" class="btn btn-default" >
                            Annuler
                        </button>

                        <button data-title="supprimer" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-trash"></i> Supprimer
                        </button>
                    </div>
                    

                    <button class="btn btn-danger pull-right">
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            {{ form_end(form,{'producer':false}) }}
        </div>
    </div>
</div>

