{% form_theme form 'bootstrap_3_layout.html.twig' %}

 <style>
    #vignette-cover{
        height: 360px;
        width: 920px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-cover-admin.png') }}") no-repeat left top / cover;
    }

    #vignette-portrait{
        height: 360px;
        width: 270px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette.png') }}") no-repeat left top / cover;
    }

    #vignette-landscape{
        height: 360px;
        width: 640px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-landscape.png') }}") no-repeat left top / cover;
    }

    .modal-form .has-collection .form-group > div{
        margin-bottom: 5px;
    }

    .modal-form .scene-dropper{
        min-height: 360px;
        border: 1px dashed #D0D8DB;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    

    .modal-form .local_files_view{
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding:100px;
        align-items: center;
        justify-content: center;
    }
   
    .modal-form .local_files_view h3{
        line-height: 1.4;
    }
    .modal-form .local_files_view svg{
            width: 10.3125rem
    }

    .scene-dropper.dropped .local_files_view{
        display: none;
    }

    @media (min-width: 992px){
        .modal-lg {
            width: 1080px;
        }
    }

    .old-value{
        border-radius:20px;
        margin-right:3px;
        padding:8px;
        margin-bottom: 5px;
    }

    
    .modal-form .scene-dropper >  .scene-thumbnail{
        margin-right: 10px;
        margin-bottom: 10px;
         position:relative;
        display: inline-block;
    }

    .modal-form .scene-dropper .scene-thumbnail a.btn-close{
        color:white;
        position:absolute;
        right:10px;
        bottom:10px;
        z-index: 2;
    }

    .modal-form .scene-dropper .progress{
        position:absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        margin-bottom: 0;
    }


    .custom_overlay{
        position: absolute;
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(212,212,212,0) 17%, rgba(3,3,3,1) 99%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(212,212,212,0) 17%,rgba(3,3,3,1) 99%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(212,212,212,0) 17%,rgba(3,3,3,1) 99%,rgba(0,0,0,1) 100%);
    }


    #modal-update .modal-form .scene-dropper >  .scene-thumbnail.uploading{
       
    }

    .modal-form .scene-dropper >  .scene-thumbnail.uploading a.btn-close{
        display: none;
    }

    #modal-update .scene-dropper >  .scene-thumbnail .upload-statut{
        position: absolute;
        top: 40%;
        left: 40%;
        color:white;
        /*display: none;*/
    }

    #modal-update .scene-dropper >  .scene-thumbnail.uploaded.uploaded-success .statut-success{
        display: block;
    }

    #modal-update .scene-dropper >  .scene-thumbnail.uploaded.uploaded-failed .statut-error{
        display: block;
    }

    #modal-update .scene-dropper >  .scene-thumbnail.uploaded .progress{
        display: none;
    }

    .modal-form .translation-item .overlay, .modal-form .translation-item .response-area{
        display: none;
    }

    .modal-form .translation-item.updating .overlay,.modal-form .translation-item.updated .response-area{
        display: block;
    }

    .modal-form #translation-info{
        display: none;
    }

    .modal-form.fetching-translation #translation-info{
        display: block;
    }

    .modal-form.fetching-translation #m-translate-body{
        display: none;
    }
</style>

{% if use_modal is defined %}
    <div class="modal fade modal-form" id="modal-insert" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% else %}
    <div class="modal fade modal-form" id="modal-update" data-id="{{ data.id }}" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% endif %}

    <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content" >
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    {% if use_modal is defined and use_modal == 'add' %}
                       Ajouter un programme
                    {% else %}
                        Modification...
                    {% endif %}
                    
                </h4>
            </div>
            
            {{ form_start(form) }}
                {% set complement = (use_modal is defined) ? '' : '-up' %}

                <div class="modal-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#m-home{{ complement }}" data-toggle="tab" aria-expanded="false">
                                    Accueil 
                                </a>
                            </li>

                            <li class="">
                                <a href="#m-translate{{ complement }}" data-toggle="tab" aria-expanded="false">
                                    Traduction
                                </a>
                            </li>

                            <li >
                                <a href="#m-settings{{ complement }}" data-toggle="tab" aria-expanded="true">
                                    Paramètres
                                </a>
                            </li>

                            <li>
                                <a href="#m-faq{{ complement }}" data-toggle="tab" aria-expanded="false">
                                    FAQ
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content" style="min-height:800px">

                            <div class="tab-pane active" id="m-home{{ complement }}">

                                {{ include('admin/movie/selected-view-tab-1.html.twig') }}
                            </div>

                            <div class="tab-pane" id="m-translate{{ complement }}" >
                                


                                <div class="alert"  id="translation-info">

                                    <div class="pull-right">
                                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                                    </div>

                                    <h4>
                                        <i class="icon fa fa-info"></i> Traductions!
                                    </h4>
                                    Chargement des langues en cours veuillez patienter svp.

                                    
                                </div>

                                <div class="row" id="m-translate-body">
                                    <div class="col-md-6">
                                        <h2>A traduire</h2>

                                        <div class="form-group">
                                            <label for="">Tagline</label>
                                            <div data-translatable-target="tagline"></div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="">Logline</label>
                                            <div data-translatable-target="logline"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Synopsis</label>
                                            <div data-translatable-target="synopsis"></div>
                                        </div>

                                        <div id="translate-area-tools">
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="fa fa-plus"></i> ajouter une langue
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="translate-area">
                                        <h2>Traduction</h2>
                                        
                                        <div id="translate-area-data"></div>
                                                                            
                                    </div>

                                </div>
                                
                                
                            </div>

                            <div class="tab-pane active" id="m-settings{{ complement }}">
                                <h3>Paramètres du programme</h3>
                            </div>

                            <div class="tab-pane" id="m-faq{{ complement }}">
                               <h3>Comment ça marche</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div class="pull-left">
                        <button type="reset" class="btn btn-default" >
                            Annuler
                        </button>

                        <button data-title="supprimer" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-trash"></i> Supprimer
                        </button>
                    </div>
                    

                    <button class="btn btn-danger pull-right">
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            {{ form_end(form,{'producer':false}) }}
        </div>

        
    </div>


</div>

