{% form_theme form 'bootstrap_3_layout.html.twig' %}

 <style>
    #vignette-cover{
        height: 360px;
        width: 920px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-cover-admin.png') }}") no-repeat left top / cover;
    }

    #vignette-portrait{
        height: 360px;
        width: 270px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette.png') }}") no-repeat left top / cover;
    }

    #vignette-landscape{
        height: 360px;
        width: 640px;
        background-color: #f6f6f6;
        overflow: hidden;
        background: url("{{ asset('/img/vignette-landscape') }}") no-repeat left top / cover;
    }

    @media (min-width: 992px){
        .modal-lg {
            width: 1080px;
        }
    }
</style>

{% if use_modal is defined %}
    <div class="modal fade form-views" id="modal-insert" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% else %}
    <div class="modal fade form-views" id="modal-update" data-id="{{ data.id }}" role="dialog" aria-labelledby="modification du programme" aria-describedby="">
{% endif %}

    <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content" >
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    {% if use_modal is defined and use_modal == 'add' %}
                       Ajouter un programme
                    {% else %}
                        Modification...
                    {% endif %}
                    
                </h4>

               
            </div>
            
            {{ form_start(form) }}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.originalName) }}
                        </div>

                         <div class="col-md-4">
                            {{ form_row(form.category) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.originalLanguage) }}
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.format) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_row(form.mention) }}
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.year_start) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_row(form.year_end) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                           {{ form_row(form.episode1) }}
                        </div>

                        <div class="col-md-4">
                           {{ form_row(form.episode2) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.episode3) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.trailer) }}
                        </div>
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-4">

                        </div>
                    </div>

                   
                    {{ form_row(form.synopsis) }}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.reward) }}
                        </div>

                        <div class="col-md-4">
                           {{ form_row(form.award) }}                        
                        </div>

                         <div class="col-md-4">
                           {{ form_row(form.audience) }}                        
                        </div>
                    </div>
        
                    {{ form_row(form.languages) }}

                    {{ form_row(form.genres) }}
                   
                    <div class="form-group">
                        {{ form_label(form.inTheather) }}
                        {{ form_errors(form.inTheather) }}
                        {{ form_widget(form.inTheather) }}
                        <p class="help-block">
                            Les programmes à l'affiche apparaissent sur la page d'accueil du site. en vue de les mettre en avant.
                        </p>
                    </div> 

                     <div class="form-group">
                        {{ form_label(form.hasExclusivity) }}
                        {{ form_errors(form.hasExclusivity) }}
                        {{ form_widget(form.hasExclusivity) }}
                        <p class="help-block">
                            Il ne peut y avoir qu'un seul programme à plébiciter à la fois sur le site.
                            <br>
                            il apparait sous le titre de <strong>Production à la une</strong> ou <strong>Video à la une</strong>
                        </p>
                    </div> 

                    <hr>

                    <div class="row program-resources">
                        <div class="col-md-4">
                            {{ form_row(form.portraitImg) }}
                            <div style="display:inline-block;position:relative;" class="dropper">

                                <div class="dropper-target" id="vignette-portrait"></div>

                                <div class="prs_upcom_video_img_cont_over">
                                    <h2>Image à charger 270x360</h2>
                                    <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                    <button type="button" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            {{ form_row(form.landscapeImg) }}
                            
                            <div style="display:inline-block;position:relative;" class="dropper">
                                <div class="dropper-target" id="vignette-landscape"></div>

                                <div class="prs_upcom_video_img_cont_over">
                                    <h2>Image à charger 640x360</h2>
                                    <br>
                                    <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                    <button type="button" class="btn btn-info">Annuler</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <hr>

                    {{ form_row(form.coverImg) }}

                    <div style="text-align:center " >
                        <div style="display:inline-block;position:relative;text-align:center" class="dropper">
                            
                            <div class="dropper-target" id="vignette-cover"></div>

                            <div class="prs_upcom_video_img_cont_over">
                                <h2>Image à charger 1920x1080</h2>
                                <br>
                                <button type="button" class="btn btn-info trigger-file">Choisir...</button>

                                <button type="button" class="btn btn-info">Annuler</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    {{ form_row(form.gallery) }}


                    <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.countries) }}
                        </div>

                        <div class="col-md-3">
                            {{ form_row(form.actors) }}
                        </div>

                        <div class="col-md-3">
                            {{ form_row(form.producers) }}
                        </div>

                        <div class="col-md-3">
                            {{ form_row(form.directors) }}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div class="pull-left">
                        <button type="reset" class="btn btn-default" >
                            Annuler
                        </button>

                        <button data-title="supprimer" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-trash"></i> Supprimer
                        </button>
                    </div>
                    

                    <button class="btn btn-danger pull-right">
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

