{% extends 'admin/base.html.twig' %}


{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block stylesheets %}
	{{ parent() }}

	<style>

		
		#current-widget-data{
			display: none;
		}

		#data-loading{
			display: none;
		}

		
		#right-section.data-loading #data-loading{
			display: block;
		}

		#right-section.data-active #current-widget-data{
			display: block;
		}

		#right-section.data-active #data-secondary-box,
		#right-section.data-loading #data-secondary-box,
		#right-section.data-loading #current-widget-data{
			display: none;
		}

		#current-widget-data #spinner{
			display: none;
		}

		#current-widget-data.updating #spinner{
			display: block;
		}
	</style>

{% endblock %}

{% block header_content %}
    Genres <small>gestions des genres d'un programme</small>
{% endblock %}


{% block body_content %}
	
	{{ include('admin/modal-info.html.twig') }}

	<div class="modal modal-danger fade" id="myModal">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              			<span aria-hidden="true">×</span>
              		</button>
            		<h4 class="modal-title">Confirmation...</h4>
          		</div>
          
          		<div class="modal-body">
          			<h4>Voulez-vous vraiment supprimer ce genre ?</h4>

            		<p>
            			Une fois l'action éfféctuée tout les programmes possedant ce genre ne seront plus referencés.
            		</p>

          		</div>
          
          		<div class="modal-footer">
            		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
            			Annuler
            		</button>

            		<button type="submit" class="btn btn-outline">Valider</button>
          		</div>
        	</div>
      	</div>
    </div>

	<div class="row">
    	<div class="col-xs-12 col-md-8">
        	<div class="box box-primary">
            	<div class="box-header">
              		<h3 class="box-title">Tout les genres</h3>
            	</div>
            
            	<!-- /.box-header -->
            	<div class="box-body table-responsive no-padding" id="data-container">
              		<table class="table table-hover">
		                <tbody>
		                	<tr>
		                 		<th>Nom</th>
		                 		<th style="text-align:center">Programmes associés</th>
		                 		<th>#</th>
		                	</tr>
	                		
	                		{% for item in genres %}
		                		<tr class="data-item" data-id="{{ item.id }}">
		                  			<td class="data-item-name">
		                  				{{ item.name|lower|title }}
		                  			</td>

		             
		                  			<td style="text-align:center">
		                  				<i class="label bg-blue">{{ item.movieNbr }}</i>
		                  			</td>

		                  			<td class="data-item-tools">
		                  				<a data-id="{{ item.id }}" href="" class="edit btn">
		                  					<i class="fa fa-edit"></i> modifier
		                  				</a>
		                  			</td>
		                		</tr>
		                	{% endfor %}
	               
	              		</tbody>
              		</table>
            	</div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12" id="right-section">

        	<div style="text-align:center" id="data-loading">
        		<i  class="fa fa-spinner fa-spin fa-3x"></i>
        	</div>

        	<div class="box box-danger" id="current-widget-data">
            	<div class="box-header">
            		<h3 class="box-title">Modification</h3>

            		 <div class="box-tools pull-right">
			            
			            <button id="data-btn-remove" data-title="supprimer" type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#myModal">
			                <i class="fa fa-trash fa-2x"></i>
			            </button>
			       
			        </div>
            	</div>
            	
            	<form>
	            	<div class="box-body preview">

				  		<div class="form-group">
				    		<label for="name">Name</label>
				    		<input name="name" type="text" class="form-control" id="name" />
				  		</div>
				  
	            	</div>

	            	<div class="box-footer" style="padding-top:10px">
	              		<button type="reset" class="btn btn-default" >
	              			Annuler
	              		</button>

	                	<button type="submit" class="btn btn-danger pull-right">
	                		<i class="fa fa-save"></i> Enregistrer
	                	</button>
	            	</div>
            	</form>

            	<div class="overlay" id="spinner">
              		<i class="fa fa-spinner fa-spin"></i>
            	</div>
          	</div>

        	<div class="box box-primary" id="data-secondary-box">
	            <div class="box-header with-border">
	            	<h3 class="box-title">Ajouter un genre</h3>
	            </div>
	            
	            {{ form_start(form) }}
	            	<div class="box-body">
						
						{% for notice in app.flashes('notice-success') %}
                            <div class="alert alert-info alert-dismissible">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                <h4><i class="icon fa fa-check"></i> Félicitation!</h4>
				                Le genre à bien été enregistré avec succès.
				            </div>
                        {% endfor %}

                        {% for notice in app.flashes('notice-error') %}
                            <div class="alert alert-danger alert-dismissible">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                <h4><i class="icon fa fa-check"></i> Attention!</h4>
				                {{ notice }}
				            </div>
                        {% endfor %}


	            		{{ form_row(form.name) }}
	              	</div>

	              	<div class="box-footer">
	                	<button type="reset" class="btn btn-default">Annuler</button>

	                	<button type="submit" class="btn btn-danger pull-right">
	                		<i class="fa fa-save"></i> Enregistrer
	                	</button>
	              	</div>
              	{{ form_end(form) }}
	        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/admin/manager.js') }}"></script>
	<script src="{{ asset('js/admin/genre/manager.js') }}"></script>
	<script src="{{ asset('js/admin/genre/index.js') }}"></script>
	
{% endblock %}

