{% extends 'base.html.twig' %}

{% block title %}
   Intégration html + css  | movie single
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-2.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />

    <style>
        .prs_vp_left_slidebar_wrapper .bx-viewport,
        .prs_vp_right_slidebar_wrapper .bx-viewport{
            height:395px !important;
        }

        .prs_vp_left_slidebar_wrapper .bx-wrapper,
        .prs_vp_right_slidebar_wrapper .bx-wrapper{
            box-shadow: none !important;
        }

        .prs_vp_slidebar_wrapper .has-media-detail a,.movie-gallery a{
            float:left;
            width:30px;
            height:30px;
            line-height:30px;
            text-align:center;
            color:#ff4444;
            background:#ffffff;
            position:absolute;
            left:0;
            right:0;
            margin:0px auto;
            top:30%;
            opacity:0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            -webkit-transition:all 0.45s linear;
            -moz-transition:all 0.45s linear;
            -ms-transition:all 0.45s linear;
            -o-transition:all 0.45s linear;
            transition:all 0.45s linear;
            outline: none;
        }
        .prs_vp_slidebar_wrapper .has-media-detail:hover  a,.movie-gallery:hover a{
            opacity:1;
            z-index:100;
            -webkit-transition:all 0.45s linear;
            -moz-transition:all 0.45s linear;
            -ms-transition:all 0.45s linear;
            -o-transition:all 0.45s linear;
            transition:all 0.45s linear;
        }

        .vp_center_slider .has-media-detail a,.movie-gallery a{
            top: 50%;
        }
        

    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}
        
        {% if programme.coverImg %}
            <div id="master-cover" style="background-image:url({{ asset('upload/public/'~programme.coverImg) }});background-position:left -100px;"></div>
        {% else %}
            <div id="master-cover" style="background-image:url({{ asset('img/vignette-cover-admin.png') }})"></div>
        {% endif %}
        
        
        <div id="movie-profil" class="d-none d-md-block shadow-effect2">
            <div class="card text-left border-0" >

                <div style="overflow: hidden;height: 250px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);">

                    {% if programme.portraitImg %}
                        <img  alt="{{ programme.name|lower|title }}" class="img-fluid" src="{{ asset('upload/public/'~programme.portraitImg)}}">

                    {% else %}
                        <img alt="{{ programme.name|lower|title }}" style="margin-top:-50px" src="{{ asset('img/vignette.png')}}">
                    {% endif %}

                </div>


                <div class="card-body pl-2 pr-2">
                    <h3 class="block-title mblock-title mblock-title-info" style="font-size:14px">
                        {{'Details techniques'|trans({},'catalogue')}}
                    </h3>
                    <br>

                    <table class="table table-sm table-borderless" style="font-size:14px">
                        <tr>
                            <td>
                                <strong>{{'Catégorie'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    {{programme.category.name|lower|title}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Genre'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                {% for i in programme.genres %}
                                    <div class="badge badge-secondary">
                                        {{i.genre.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Format'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    {{programme.format}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Année'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    {{programme.yearStart|date("Y")}}
                                </div>

                                {% if programme.yearEnd %}
                                    <span> à </span> 

                                    <div class="badge badge-secondary">
                                        {{programme.yearEnd|date("Y")}}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Pays'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                {% for i in programme.countries %}
                                    <div class="badge badge-secondary">
                                        {{i.country.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Langue'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">

                                {% for i in programme.languages %}
                                    <div class="badge badge-secondary">
                                        {{i.language.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>

                        {#<tr>
                            <td>
                                <strong>{{'Version'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    2
                                </div>
                            </td>
                        </tr>#}
                    </table>


                    <h3 class="block-title mblock-title mblock-title-info" style="font-size:14px">
                        {{'Réalisateur'|transchoice(2,{},'catalogue')}}
                    </h3>
                    <br>

                    <div class="row">

                        {% for item in programme.directors|slice(0,2) %}
                            <div class="col-sm-6" >
                                <a href="{{ path('producer_index',{'slug':item.director.slug}) }}" class="d-inline-block  has-detail text-white position-relative">

                                    {% if item.director.image %}
                                        <img class="img-fluid" src="{{ asset('upload/public/'~item.director.image)}}"  alt="{{ item.director.name|lower|title }}">
                                    {% else %}
                                        <img class="img-fluid" src="{{ asset('img/vignette-actor.jpg')}}"  alt="{{ item.director.name|lower|title }}">
                                    {% endif %}

                                    <div class="media-info align-items-center justify-content-center">
                                        <span class="badge badge-light">
                                            {{ item.director.name|lower|title }}
                                        </span>
                                    </div>

                                </a>
                            </div>
                        {% else %}
                            <div class="alert alert-light" role="alert">
                                <h5 class="alert-heading">Information indisponible</h5>
                              
                                <p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href=""  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-9 col-sm-12">

                <section id="movie-title">
                    <h2>{{ programme.name|lower|title }}</h2>

                    <span class="position-relative voting-plug text-info">
                        {% for item in 1..5 %}
                            <a href="" data-toggle="tooltip" class="text-info" 

                            {% if loop.index == 1 %}
                                data-title="Mauvais" 
                            {% elseif loop.index == 2 %}
                                data-title="Acceptable" 
                            {% elseif loop.index == 3 %}
                                data-title="Correct" 
                            {% elseif loop.index == 4 %}
                                data-title="Tres-bien" 
                            {% elseif loop.index == 5 %}
                                data-title="Excellent" 
                            {% endif %}

                            style="text-decoration:none">
                                <i class="far fa-star"></i>
                            </a>
                        {% endfor %}
                    </span>

                    {#<div class="movie-vote text-info">
                        <div class="row">
                            <div class="col-md-8 pr-2">
                                {{ include('catalogue/chart.html.twig') }}
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                    </div>#}
                </section>

                <section style="padding: 15px" id="movie-player">
                    <div class="row">
                        <div class="col-md-12 coa-player p-0">
                            <div data-vimeo-url="https://vimeo.com/205265379" id="coa-player-cover" data-vimeo-width="820px" data-vimeo-background="false"></div>

                           
                            
                            <div class="coa-player-thumbnail fix d-none">
                                
                                <div class="list-group">
                                    
                                    <a data-id="205265379" href="" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center active">
                                        <img   src="{{ asset('img/vid1.jpg')}}"  class="img-fluid"  alt="{{ programme.name|lower|title }}"> &nbsp; <span class="thumbnail-desc">{{ programme.name|lower|title }}<br><small>Trailer</small></span>
                                    </a>

                                    <a data-id="253644176" href="" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
                                        <img src="{{ asset('img/vid1.jpg')}}"  class="img-fluid"  alt="{{ programme.name|lower|title }}"> &nbsp; <span class="thumbnail-desc">{{ programme.name|lower|title }} <br> <small>Episode 01</small></span>
                                    </a>

                                    <a data-id="204188760" href="" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
                                        <img  src="{{ asset('img/vid2.jpg')}}" class="img-fluid"  alt="{{ programme.name|lower|title }}"> &nbsp; <span class="thumbnail-desc">{{ programme.name|lower|title }} <br><small>Episode 02</small></span>
                                    </a>

                                    <a data-id="204195114" href="" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
                                        <img  src="{{ asset('img/vid3.jpg')}}" class="img-fluid"  alt="{{ programme.name|lower|title }}"> &nbsp; <span class="thumbnail-desc">{{ programme.name|lower|title }} <br><small>Episode 03</small></span>
                                    </a>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-info btn-sm btn-block">
                                        <i class="fas fa-times"></i> Fermer la playlist 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="block animation-top"  id="movie-description">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Synopsis'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>
                    </div>

                    <div class="block-content" >
                        
                        <div class="border-0 bg-light p-3">

                            

                            {% if programme.synopsis %}
                                {{ programme.synopsis|md2html }}
                            {% else %}
                                <div class="alert alert-light" role="alert">
                                    <h5 class="alert-heading">Information indisponible</h5>
                                  
                                    <p>
                                        Faites une requete de modification pour cette section.
                                    </p>
                                  
                                    <hr>
                                    <p class="mb-0">
                                        <a href=""  class="btn btn-sm btn-light text-secondary">
                                            Cliquez ici.
                                        </a>
                                    </p>
                                </div>
                            {% endif %}

                            


                        </div>
                    </div>

                </section>

                <section  id="block-acteurs" class="has-carousel block">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Acteurs'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content d-block" >

                        {% if programme.actors|length %}

                            <div class="card-group owl-carousel">
                                {% for item in programme.actors %}
                                    <div class="card">
                                        <a href="{{ path('actor_index',{'slug':item.actor.slug}) }}" class="d-block  has-detail text-white">

                                            {% if item.actor.image %}
                                                <img class="card-img-top" src="{{ asset('upload/public/'~item.actor.image)}}"  alt="{{ item.actor.name|lower|title }}">
                                            {% else %}
                                                <img class="card-img-top" src="{{ asset('img/vignette-actor.jpg')}}"  alt="{{ item.actor.name|lower|title }}">
                                            {% endif %}

                                            <div class="card-body d-none d-md-block media-info" >
                                                <h6 class="card-title">
                                                    {{item.actor.name|lower|title}}
                                                </h6>

                                                <p class="card-text">
                                                    <small >
                                                        {% if item.actor.description %}
                                                            {{ item.actor.description }}
                                                        {% else %}
                                                            Description indisponible
                                                        {% endif %}
                                                    </small>
                                                </p>
                                            </div>
                                        </a>
                                    </div>                                
                                {% endfor %}
                            </div>

                        {% else %}

                            <div class="alert alert-light" role="alert">
                                <h5 class="alert-heading">Information indisponible</h5>
                              
                                <p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href=""  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </section>

                <section class="block animation-right" id="movie-disctinctions">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Recompenses et prix'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>
                    </div>

                    <div class="block-content d-block">

                        <div>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-rewards-tab" data-toggle="tab" href="#nav-rewards" role="tab" aria-controls="nav-home" aria-selected="true">
                                        {{'Recompenses'|trans({},'catalogue')}}
                                    </a>

                                    <a class="nav-item nav-link" id="nav-awards-tab" data-toggle="tab" href="#nav-awards" role="tab" aria-controls="nav-profile" aria-selected="false">
                                        {{'Prix et Nominations'|trans({},'catalogue')}}
                                    </a>

                                    <a class="nav-item nav-link" id="nav-audience-tab" data-toggle="tab" href="#nav-audience" role="tab" aria-controls="nav-profile" aria-selected="false">
                                        {{'Audience'|trans({},'catalogue')}}
                                    </a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                
                                <div class="tab-pane fade show active pt-3" id="nav-rewards" role="tabpanel" aria-labelledby="nav-rewards-tab">
                                    {% if programme.reward %}
                                        {{ programme.reward|nl2br }}
                                    {% else %}
                                        <div class="alert alert-light" role="alert">
                                            <h4 class="alert-heading">Information indisponible</h4>
                                          
                                            <p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href=""  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                              
                                <div class="tab-pane fade pt-3" id="nav-awards" role="tabpanel" aria-labelledby="nav-awards-tab">
                                    {% if programme.award %}
                                        {{ programme.award|nl2br }}
                                    {% else %}
                                        <div class="alert alert-light" role="alert">
                                            <h4 class="alert-heading">Information indisponible</h4>
                                          
                                            <p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href=""  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="tab-pane fade pt-3" id="nav-audience" role="tabpanel" aria-labelledby="nav-audience-tab">
                                    {% if programme.audience %}
                                        {{ programme.audience|nl2br }}
                                    {% else %}
                                       <div class="alert alert-light" role="alert">
                                            <h4 class="alert-heading">Information indisponible</h4>
                                          
                                            <p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href=""  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    
                </section>

                <section class="block" id="movie-pictures">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                           {{'Dans les coulisses'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>

                        <!--div style="margin-left: auto;" class="d-flex">
                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div-->
                    </div>

                    <div class="block-content" >

                        {% set gallery = programme.scenes %}
                        {% set galleryLength =  gallery|length %}
                        
                        {% if galleryLength %}

                            <div class="row">
                                
                                {% for item in gallery %}
                                    <div class="col-md-4 mb-2 movie-gallery">

                                        <img width="320" height="180" class="rounded img-fluid" src="{{ asset('upload/public/'~item.image)}}"  alt="{{ programme.name|lower|title }}">

                                        <a href="{{ asset('upload/public/'~item.image)}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                       
                                    </div>
                                {% endfor %}


                                {#<div class="d-none d-md-block col-md-2 prs_vp_slidebar_wrapper prs_vp_left_slidebar_wrapper">
                                    
                                    <div class="prs_vp_left_slider">

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                         <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid1.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid1.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 owl-carousel vp_center_slider prs_vp_slidebar_wrapper" style="width:540px">

                                    <div class="has-media-detail ">
                                        <img   class="img-fluid" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>

                                    <div class="has-media-detail ">
                                        <img   class="img-fluid" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>

                                    <div class="has-media-detail ">
                                        <img  class="img-fluid"  src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                   
                                </div>

                               <div class="d-none d-md-block col-md-2 prs_vp_slidebar_wrapper prs_vp_right_slidebar_wrapper">

                                    <div class="prs_vp_right_slider">

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                         <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid1.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid1.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        {% else %}

                            <div class="alert alert-light" role="alert">
                                <h4 class="alert-heading">Information indisponible</h4>
                              
                                <p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href=""  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>
                            </div>

                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

        <div class="row justify-content-end mb-5">
            <div class="col-md-12 col-sm-12">
                <section class="block has-carousel animation-top " id="other-movies">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'A voir egalement'|trans()}}
                        </h3>
                        <br><br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >
                        <div class="text-left owl-carousel">
                            
                            {% for item in otherMovies %}
                                <div >
                                    <div class="position-relative has-media-detail d-block vid-hover">
                                        {% if item.portraitImg %}
                                            <img  src="{{ asset('upload/public/'~item.portraitImg) }}"  alt="{{ item.name|lower|title }}">
                                        {% else %}
                                            <img  src="{{ asset('img/'~random(['other-movie-1','other-movie-2','other-movie-3','other-movie-4','other-movie-5','other-movie-6','other-movie-7'])~'.jpg')}}"  alt="">
                                        {% endif %}

                                        <div class="media-overlay"></div>

                                        <div class="media-btn-wrapper">
                                            <ul class="d-block">
                                                <li>
                                                    <a data-vbtype="video" href="{{ item.trailer }}" class="venobox movie-trailer-link" >
                                                        {{ 'Bande annonce'|trans({},'movies') }}
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('catalogue_index',{'slug':item.slug})}}" class="movie-link">
                                                        {{ 'Details'|trans({},'movies') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    
                                    </div>
                                </div>
                            {% else %}
                                 <div class="alert alert-light" role="alert">
                                    <h5 class="alert-heading">Information indisponible</h5>
                                  
                                    <p>
                                        Aucun autre programme pour cette catégorie.
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </div>

    {#<div class="row justify-content-end bg-light">
        <div class="col-md-12 col-sm-12">
            <section class="block has-carousel animation-top bg-light" id="other-movies">
                <div class="block-header">
                    <h3 class="block-title">
                        {{'A voir egalement'|trans()}}
                    </h3>

                    <div style="margin-left: auto;" class="d-flex">
                        <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                            <i class="fas fa-angle-left"></i>
                        </a>

                        <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="block-content" >
                    <div class="text-left owl-carousel">
                        
                        {% for i in 0..5 %}
                            <div >
                                <div class="position-relative has-media-detail d-block vid-hover">
                                    <img  src="{{ asset('img/'~random(['other-movie-1','other-movie-2','other-movie-3','other-movie-4','other-movie-5','other-movie-6','other-movie-7'])~'.jpg')}}" >

                                    <div class="media-overlay"></div>

                                    <div class="media-btn-wrapper">
                                        <ul class="d-block">
                                            <li>
                                                <a href="" class="to-overlay">
                                                    {{ 'Bande annonce'|trans({},'movies') }}
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('catalogue_index',{'slug':random(1000)})}}">
                                                    {{ 'Details'|trans({},'movies') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://player.vimeo.com/api/player.js"></script>
    
    <script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>

    <script src="{{ asset('js/main-menu-manager.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/manager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/movie-single/manager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/Voting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/movie-single/index.js') }}"></script>

{% endblock %}
