{% extends 'admin/base.html.twig' %}


{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set use_modal = 'insert' %}


{% block stylesheets %}
	{{ parent() }}

	<style>

		
		#current-widget-data{
			display: none;
		}

		#data-loading{
			display: none;
		}

		
		#right-section.data-loading #data-loading{
			display: block;
		}

		#right-section.data-active #current-widget-data{
			display: block;
		}

		#right-section.data-active #data-secondary-box,
		#right-section.data-loading #data-secondary-box,
		#right-section.data-loading #current-widget-data{
			display: none;
		}

		#current-widget-data #spinner{
			display: none;
		}

		#current-widget-data.updating #spinner{
			display: block;
		}

		#data-btn-remove{
			position: absolute;
			right: 20px;
			top: 0px;
		}

		.widget-user-username{
			text-overflow: ellipsis;
    		overflow: hidden;
    		white-space: nowrap
		}

		#current-widget-data form .box-footer #area-persist{
			display: none;
		}

		#current-widget-data.action-update-active form .box-footer #area-persist{
			display: block;
		}

		#current-widget-data.action-update-active form .box-footer #area-action{
			display: none;
		}

		#current-widget-data form #update-form{
			display: none;
		}

		#current-widget-data.action-update-active form #update-form{
			display: block;
		}

		#current-widget-data.action-update-active form #update-show{
			display: none;
		}

		#current-widget-data.dragenter{
			border: 2px dashed #00a7d0;
		}

		.data-item .data-item-image img{
			height: 50px;
		}

		body #infinite-loading{
			display: none;
		}

		body.infinite-scroll-active #infinite-loading{
			display: block;
		}

		
	</style>

{% endblock %}

{% block header_content %}
    Les Réalisateurs <small>gestions des réalisateurs de la plateforme</small>
{% endblock %}

{% block body_content %}
	
	{{ include('admin/modal-info.html.twig') }}
	
	{# boite de dialogue pour la suppresion #}
	<div class="modal modal-danger fade" id="myModal">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              			<span aria-hidden="true">×</span>
              		</button>
            		<h4 class="modal-title">Confirmation...</h4>
          		</div>
          
          		<div class="modal-body">
          			<h4>Voulez-vous vraiment supprimer ce réalisateur ?</h4>

            		<p>
            			Une fois l'action éfféctuée tout les programmes possedant ce réalisateur ne seront plus referencés.
            		</p>

          		</div>
          
          		<div class="modal-footer">
            		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
            			Annuler
            		</button>

            		<button type="submit" class="btn btn-outline">Valider</button>
          		</div>
        	</div>
      	</div>
    </div>
	
	{# boite de dialogue pour la modification de fiche #}
    <div id="modal-update-area"></div>

	{# boite de dialogue pour insertion #}
    <div id="modal-add-area">
	    {{ include('admin/director/selected-view.html.twig') }}
    </div>

	{# boite de dialogue pour le chargement #}
    <div class="modal fade" id="modal-loading">
    	<div class="modal-dialog">
        	<div class="modal-content" style="background:none;box-shadow:none">
          		<div class="modal-body text-center" style="background:none;color:#ffffff">
					<i  class="fa fa-spinner fa-spin fa-5x text-white"></i>
          		</div>
        	</div>
      	</div>
    </div>


    <div class="modal modal-danger fade" id="modal-update-gallery">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              			<span aria-hidden="true">×</span>
              		</button>
            		<h4 class="modal-title">Confirmation...</h4>
          		</div>
          
          		<div class="modal-body">
          			<h4 class="collection-alert-msg"></h4>

            		<p>
            			Attention cette action est irreversible, vous perdrez definitivement cet element.
            		</p>

          		</div>
          
          		<div class="modal-footer">
            		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
            			Annuler
            		</button>

            		<button type="submit" class="btn btn-outline">Valider</button>
          		</div>
        	</div>
      	</div>
    </div>


    {% for notice in app.flashes('notice-success') %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Félicitation!</h4>
            {{ notice }}
        </div>
    {% endfor %}

    {% for notice in app.flashes('notice-error') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Attention!</h4>
            {{ notice }}
        </div>
    {% endfor %}

	<div class="row">
    	<div class="col-xs-12 col-md-12">

    		<div class="row">
    			<div class="col-md-12">
    				<button  data-toggle="modal" data-backdrop="static" data-target="#modal-insert" class="btn btn-sm btn-primary">
		  				<i class="fa fa-plus"></i> Nouveau
		  			</button>
    			</div>
    		</div>

    		<hr>

        	<div class="box box-primary">
            	<div class="box-header">
              		<h3 class="box-title">Toutes les réalisateurs</h3>

              		<div class="box-tools pull-right">
			    		<form class="has-feedback">
			      			<input name="q" type="text" class="form-control input-sm" placeholder="Recherche...">
			      			<span class="glyphicon glyphicon-search form-control-feedback"></span>
			    		</form>
			  		</div>
            	</div>
            
            	<!-- /.box-header -->
            	<div class="box-body table-responsive no-padding" id="data-container">
              		<table class="table table-hover">
		                <thead>
		                	<tr>
		                 		<th width="100">Image</th>
		                 		<th>Nom</th>
		                 		<th style="text-align:center">Programmes associés</th>
		                	</tr>
	              		</thead>

	              		<tbody>
	              			{{ include('admin/director/item-render.html.twig') }}
	              		</tbody>
              		</table>
            	</div>
            </div>

            <div style="text-align:center" id="infinite-loading">
				<i  class="fa fa-spinner fa-spin fa-3x"></i>
			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/admin/manager.js') }}"></script>
	<script src="{{ asset('js/admin/director/manager.js') }}"></script>
	<script src="{{ asset('js/admin/director/index.js') }}"></script>
	
{% endblock %}

