{% for item in data %}
	<tr class="data-item" data-id="{{ item.id }}">
		<td class="data-item-image">
			<a target="_blank" href="{{ path('director_index',{'slug':item.slug}) }}">
				{% if item.image %}
					<img   src="{{ asset('upload/public/'~item.image) }}" alt="" />
					
				{% else %}
					<img src="{{ asset('img/vignette-landscape.png') }}">
				{% endif %}
			</a>
		</td>

		<td class="data-item-name">
			<a data-id="{{ item.id }}" href="" class="edit" style="display:block">
				{{ item.name|lower|title }}
			</a>
		</td>

		<td style="text-align:center">
			{{ item.movieNbr }}
		</td>
	</tr>
{% endfor %}

