<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Création de catalogue</h3>

        <div class="box-tools pull-right">
            <span class="label label-primary">les 4 derniers</span>

            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="products-list product-list-in-box">

            {% for item in lists %}
                <li class="item">
                    <div class="product-img">
                        <img src="{{ asset('admin/dist/img/user1-128x128.jpg') }}" alt="Product Image">
                    </div>
                    
                    <div class="product-info">
                        <a target="_blank" href="{{ path('catalog_watch_link',{'token':item.token}) }}" class="product-title">  {{ item.creator.username|lower|title}}
                            {% set hours =  item.createAt|dateDiff(date("now"))|date("%H") %}
                            {% set minutes =  item.createAt|dateDiff(date("now"))|date("%I") %}
                            {% set seconds =  item.createAt|dateDiff(date("now"))|date("%s") %}

                            {% set days =  item.createAt|dateDiff(date("now"))|date("%a") %}
                            {% set weeks =  (days / 7)|round(0,'floor') %}
                            {% set months =  (weeks / 4)|round(0,'floor') %}
                            {% set years =  (months / 12)|round(0,'floor') %}
                            <span class="label label-warning pull-right">
                                il ya 
                                {% if years %}
                                    {{ years }} ans
                                {% elseif months %}
                                    {{ months }} mois
                                {% elseif weeks %}
                                    {{ weeks }} semaines
                                {% elseif days %}
                                    {{ days }} jours
                                {% elseif hours != "00" %}
                                    {{ hours  }} heures
                                {% elseif minutes != "00" %}
                                    {{ minutes }} minutes
                                {% else %}
                                    A l'instant
                                {% endif %}
                            </span>
                        </a>
                        
                        <span class="product-description">
                            {{item.token}}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center">
        <a href="javascript:void(0)" class="uppercase">Voir plus</a>
    </div>
    <!-- /.box-footer -->
</div>