{% extends 'base.html.twig' %}


{% block title %}
   {{ programme.name|lower|title }}
{% endblock %}

{% block meta_description %}

   <meta name="description" content="{{ programme.synopsis|truncate(250,'...') }}">
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-2.css','css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />

    <style>
        .prs_vp_left_slidebar_wrapper .bx-viewport,
        .prs_vp_right_slidebar_wrapper .bx-viewport{
            height:395px !important;
        }

        .prs_vp_left_slidebar_wrapper .bx-wrapper,
        .prs_vp_right_slidebar_wrapper .bx-wrapper{
            box-shadow: none !important;
        }

        .prs_vp_slidebar_wrapper .has-media-detail a,.movie-gallery a{
            float:left;
            width:30px;
            height:30px;
            line-height:30px;
            text-align:center;
            color:#ff4444;
            background:#ffffff;
            position:absolute;
            left:0;
            right:0;
            margin:0px auto;
            top:30%;
            opacity:0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            -webkit-transition:all 0.45s linear;
            -moz-transition:all 0.45s linear;
            -ms-transition:all 0.45s linear;
            -o-transition:all 0.45s linear;
            transition:all 0.45s linear;
            outline: none;
        }
        .prs_vp_slidebar_wrapper .has-media-detail:hover  a,.movie-gallery:hover a{
            opacity:1;
            z-index:100;
            -webkit-transition:all 0.45s linear;
            -moz-transition:all 0.45s linear;
            -ms-transition:all 0.45s linear;
            -o-transition:all 0.45s linear;
            transition:all 0.45s linear;
        }

        .vp_center_slider .has-media-detail a,.movie-gallery a{
            top: 50%;
        }
        

    </style>

{% endblock %}

{% block body %}

    <div class="modal fade " id="download-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{ "Télécharger"|trans({},"catalogue") }}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            

                <div class="modal-body">
                    <table class="table table-striped">
                    
                        <tbody>
                            {% for rsrc in vimeoRsrc  %}
                                <tr>
                                    <td>
                                        <img   src="{{ rsrc.thumbnail }}"  class="img-fluid"  alt="{{ programme.name|lower|title }}">
                                    </td>
                                    <td>
                                        {{ rsrc.name|lower|title }}<br><small>
                                        
                                        {% for i in rsrc.download if i.quality != 'source' %}
                                            <div>
                                                <a href="{{ i.link }}" download="{{ rsrc.name|lower|title }}">
                                                    <i class="fas fa-download text-danger"></i>&nbsp;.&nbsp;{{ i.quality|upper }}&nbsp;.&nbsp;{{ i.height }}p&nbsp;&nbsp;.&nbsp;{{ i.width }} x {{ i.height }}&nbsp;.&nbsp;&nbsp;{{ i.size }}Mo 
                                                </a>

                                            </div>


                                        {% endfor %}
                                    </td>
                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <header id="header">
        {{ include('main-menu.html.twig') }}
        
        {% if programme.coverImg %}
            <div id="master-cover" style="background-image:url({{ asset('upload/public/'~programme.coverImg) }});background-position:left -100px;"></div>
        {% else %}

            {% if vimeoRsrc|length %}
                <div id="master-cover" style="background-image:url({{ vimeoRsrc[0].cover }});background-position:left -100px;"></div>
            {% else %}
                <div id="master-cover" style="background-image:none"></div>
                {#<div id="master-cover" style="background-image:url({{ asset('img/vignette-cover-admin.png') }})"></div>#}
            {% endif %}

        {% endif %}
        
        
        <div id="movie-profil" class="d-none d-md-block shadow-effect2">
            <div class="card text-left border-0" >

                <div style="overflow: hidden;height: 250px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);">

                    {% if programme.portraitImg %}
                        <img  alt="{{ programme.name|lower|title }}" class="img-fluid" src="{{ asset('upload/public/'~programme.portraitImg)}}">

                    {% else %}
                        <img alt="{{ programme.name|lower|title }}" style="margin-top:-50px" src="{{ asset('img/vignette.png')}}">
                    {% endif %}

                </div>


                <div class="card-body pl-2 pr-2">
                    <h3 class="block-title mblock-title mblock-title-info" style="font-size:14px">
                        {{'Details techniques'|trans({},'catalogue')}}
                    </h3>
                    <br>

                    <table class="table table-sm table-borderless" style="font-size:14px">
                        <tr>
                            <td>
                                <strong>{{'Catégorie'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">

                                    {{ (programme.category ? programme.category.name : '-' )|lower|title }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Genre(s)</strong>
                            </td>

                            <td class="text-right">
                                {% for i in programme.genres %}
                                    <div class="badge badge-secondary">
                                        {{i.genre.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Format'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    {{programme.format}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Date</strong>
                            </td>

                            {% set p_yearStart = programme.yearStart|date("Y") %}
                            {% set p_yearEnd =  programme.yearEnd?programme.yearEnd|date("Y"):null %}

                            <td class="text-right">
                                <div class="badge badge-secondary">
                                    {{ p_yearStart }}
                                </div>

                                {% if p_yearEnd and p_yearEnd != p_yearStart %}
                                    <span> à </span> 

                                    <div class="badge badge-secondary">
                                        {{ p_yearEnd }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{'Origine'|trans({},'catalogue')}}</strong>
                            </td>

                            <td class="text-right">
                                {% for i in programme.countries %}
                                    <div class="badge badge-secondary">
                                        {{i.country.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>
                                    Version(s)
                                </strong>
                            </td>

                            <td class="text-right">

                                {% for i in programme.languages %}
                                    <div class="badge badge-secondary">
                                        {{i.language.name|lower|title}}
                                    </div>
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>
                    </table>


                    <h3 class="block-title mblock-title mblock-title-info" style="font-size:14px">
                        {{'Réalisateurs / Créateurs'|trans({},'homepage')}}
                    </h3>
                    <br>

                    <div class="row">

                        {% for item in programme.directors|slice(0,2) %}
                            <div class="col-sm-6" >
                                {#<a href="{{ path('director_index',{'slug':item.director.slug}) }}" class="d-inline-block  has-detail text-white position-relative">#}
                                <div class="d-inline-block  has-detail text-white position-relative">

                                    {% if item.director.image %}
                                        <img class="img-fluid" src="{{ asset('upload/public/'~item.director.image)}}"  alt="{{ item.director.name|lower|title }}">
                                    {% else %}
                                        <img class="img-fluid" src="{{ asset('img/vignette-landscape.png')}}"  alt="{{ item.director.name|lower|title }}">
                                    {% endif %}

                                    <div class="media-info align-items-center justify-content-center">
                                        <span class="badge badge-light">
                                            {{ item.director.name|lower|title }}
                                        </span>
                                    </div>
                                </div>
                                {#</a>#}
                            </div>
                        {% else %}
                            <div class="alert alert-light" role="alert">
                                <h6 class="alert-heading">Information indisponible</h6>
                              
                                <p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-9 col-sm-12">

                <section id="movie-title">
                    
                    {% if vimeoRsrc|length and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <button class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#download-list">
                            <i class="fas fa-download"></i> {{ "Télécharger les vidéos"|trans({},"catalogue") }}
                        </button>
                    {% endif %}

                    <h2 class="text-nowrap text-truncate">{{ programme.name|lower|title }}</h2>

                    {#<span class="position-relative voting-plug text-info">
                        {% for item in 1..5 %}
                            <a href="" data-toggle="tooltip" class="text-info" 

                            {% if loop.index == 1 %}
                                data-title="Mauvais" 
                            {% elseif loop.index == 2 %}
                                data-title="Acceptable" 
                            {% elseif loop.index == 3 %}
                                data-title="Correct" 
                            {% elseif loop.index == 4 %}
                                data-title="Tres-bien" 
                            {% elseif loop.index == 5 %}
                                data-title="Excellent" 
                            {% endif %}

                            style="text-decoration:none">
                                <i class="far fa-star"></i>
                            </a>
                        {% endfor %}
                    </span>

                    <div class="movie-vote text-info">
                        <div class="row">
                            <div class="col-md-8 pr-2">
                                {{ include('movie/chart.html.twig') }}
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                    </div>#}

                </section>
                
                {% if vimeoRsrc|length %}
                    <section style="padding: 15px;" id="movie-player">
                        <div class="row">
                            <div class="col-md-12 coa-player p-0 m-0" style="background:#000000;text-align:center">

                                {#<div data-vimeo-url="{{ programme.trailer }}" id="coa-player-cover" data-vimeo-width="820px" data-vimeo-height="480px" data-vimeo-background="false"></div>#}
                                
                                <div data-vimeo-url="{{ vimeoRsrc[0].link }}" id="coa-player-cover" data-vimeo-width="825" data-vimeo-height="480"  data-vimeo-portrait="false" data-vimeo-byline="false" data-vimeo-color="dc3545"  data-vimeo-background="false" data-vimeo-title="false"></div>
                                
                                {% if 1 == 1 %}
                                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                                    
                                    <div class="coa-player-thumbnail fix d-none sleep-target text-left">
                                        <div style="position:absolute;top:0;bottom:0;left:0;right:0;">
                                            <div class="mb-4">
                                                <button class="btn btn-info btn-sm btn">
                                                    <i class="fas fa-times"></i> {{ "Fermer"|trans({},"catalogue") }} 
                                                </button>
                                            </div>

                                            <div class="list-group">
                                                
                                                {% for rsrc in vimeoRsrc %}
                                                    <a data-id="{{ rsrc.code }}" href="" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center {{ loop.first ? 'active' : ''}}">

                                                        <img   src="{{ rsrc.thumbnail }}"  class="img-fluid"  alt="{{ programme.name|lower|title }}"> 
                                                        
                                                        &nbsp; 
                                                        <span class="thumbnail-desc">{{ rsrc.name|lower|title }}<br><small>Lien {{ loop.index }}</small></span>
                                                    </a>
                                                {% endfor %}
                                            </div>

                                            
                                        </div>

                                        
                                    </div>
                                {% endif %}
                            </div>
                        </div>



                        {#<div class="d-flex flex-row justify-content-end">
                            <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#download-list">
                                <i class="fas fa-download"></i> Télécharger
                            </button>
                        </div>#}
                    </section>
                {% endif %}

                <section class="block animation-top"  id="movie-description">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Synopsis'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>
                    </div>

                    <div class="block-content" >
                        
                        <div class="border-0 bg-light p-3">

                            

                            {% if programme.synopsis %}
                                {{ programme.synopsis|md2html }}
                            {% else %}
                                <div class="alert alert-light" role="alert">
                                    <h6 class="alert-heading">
                                        {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                    </h6>
                                  
                                   {# <p>
                                        Faites une requete de modification pour cette section.
                                    </p>
                                                                      
                                    <hr>
                                    <p class="mb-0">
                                        <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                            Cliquez ici.
                                        </a>
                                    </p> #}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </section>

                <section  id="block-acteurs" class="has-carousel block">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Acteurs'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" title="{{'precedent'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" title="{{'suivant'|trans({},'movies')}}" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content d-block" >

                        {% if programme.actors|length %}

                            <div class="card-group owl-carousel">
                                {% for item in programme.actors %}
                                    <div class="card">
                                        {#<a href="{{ path('actor_index',{'slug':item.actor.slug}) }}" class="d-block  has-detail text-white">#}

                                        <div class="d-block  has-detail text-white">

                                            {% if item.actor.image %}
                                                <img class="card-img-top" src="{{ asset('upload/public/'~item.actor.image)}}"  alt="{{ item.actor.name|lower|title }}">
                                            {% else %}
                                                <img class="card-img-top" src="{{ asset('img/vignette-landscape.png')}}"  alt="{{ item.actor.name|lower|title }}">
                                            {% endif %}

                                            <div class="card-body d-none d-md-block media-info" >
                                                <h6 class="card-title">
                                                    {{item.actor.name|lower|title}}
                                                </h6>

                                                <p class="card-text">
                                                    <small >
                                                        {% if item.actor.description %}
                                                            {{ item.actor.description }}
                                                        {% else %}
                                                            Description indisponible
                                                        {% endif %}
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                        {#</a>#}
                                    </div>                                
                                {% endfor %}
                            </div>

                        {% else %}

                            <div class="alert alert-light" role="alert">
                                <h6 class="alert-heading">
                                    {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                </h6>
                              
                                {#<p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>#}
                            </div>
                        {% endif %}
                    </div>
                </section>

                <section class="block animation-right" id="movie-disctinctions">
                    {#<div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'Recompenses et prix'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>
                    </div>#}

                    <div class="block-content d-block">

                        <div>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-rewards-tab" data-toggle="tab" href="#nav-rewards" role="tab" aria-controls="nav-home" aria-selected="true">
                                        {{'Recompenses'|trans({},'catalogue')}}
                                    </a>

                                    <a class="nav-item nav-link" id="nav-awards-tab" data-toggle="tab" href="#nav-awards" role="tab" aria-controls="nav-profile" aria-selected="false">
                                        {{'Prix et Nominations'|trans({},'catalogue')}}
                                    </a>

                                    <a class="nav-item nav-link" id="nav-audience-tab" data-toggle="tab" href="#nav-audience" role="tab" aria-controls="nav-profile" aria-selected="false">
                                        {{'Audience'|trans({},'catalogue')}}
                                    </a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                
                                <div class="tab-pane fade show active pt-3" id="nav-rewards" role="tabpanel" aria-labelledby="nav-rewards-tab">
                                    {% if programme.reward %}
                                        {{ programme.reward|nl2br }}
                                    {% else %}
                                        <div class="alert alert-light" role="alert">
                                            <h6 class="alert-heading">
                                                {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                            </h6>
                                          
                                            {#<p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>#}
                                        </div>
                                    {% endif %}
                                </div>
                              
                                <div class="tab-pane fade pt-3" id="nav-awards" role="tabpanel" aria-labelledby="nav-awards-tab">
                                    {% if programme.award %}
                                        {{ programme.award|nl2br }}
                                    {% else %}
                                        <div class="alert alert-light" role="alert">
                                            <h6 class="alert-heading">
                                                {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                            </h6>
                                          
                                            {#<p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>#}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="tab-pane fade pt-3" id="nav-audience" role="tabpanel" aria-labelledby="nav-audience-tab">
                                    {% if programme.audience %}
                                        {{ programme.audience|nl2br }}
                                    {% else %}
                                       <div class="alert alert-light" role="alert">
                                            <h6 class="alert-heading">
                                                {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                            </h6>
                                          
                                            {#<p>
                                                Faites une requete de modification pour cette section.
                                            </p>
                                          
                                            <hr>
                                            <p class="mb-0">
                                                <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                                    Cliquez ici.
                                                </a>
                                            </p>#}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    
                </section>

                <section class="block" id="movie-pictures">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                           {{'Dans les coulisses'|trans({},'catalogue')}}
                        </h3>
                        <br>
                        <br>

                        <!--div style="margin-left: auto;" class="d-flex">
                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div-->
                    </div>

                    <div class="block-content" >

                        {% set gallery = programme.scenes %}
                        {% set galleryLength =  gallery|length %}
                        
                        {% if galleryLength %}

                            <div class="row">
                                
                                {% for item in gallery %}
                                    <div class="col-md-4 mb-2 movie-gallery">

                                        <img width="320" height="180" class="rounded img-fluid" src="{{ asset('upload/public/'~item.image)}}"  alt="{{ programme.name|lower|title }}">

                                        <a href="{{ asset('upload/public/'~item.image)}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                       
                                    </div>
                                {% endfor %}


                                {#<div class="d-none d-md-block col-md-2 prs_vp_slidebar_wrapper prs_vp_left_slidebar_wrapper">
                                    
                                    <div class="prs_vp_left_slider">

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                         <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid1.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid1.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 owl-carousel vp_center_slider prs_vp_slidebar_wrapper" style="width:540px">

                                    <div class="has-media-detail ">
                                        <img   class="img-fluid" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>

                                    <div class="has-media-detail ">
                                        <img   class="img-fluid" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>

                                    <div class="has-media-detail ">
                                        <img  class="img-fluid"  src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                        <div class="media-overlay"></div>

                                        <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                   
                                </div>

                               <div class="d-none d-md-block col-md-2 prs_vp_slidebar_wrapper prs_vp_right_slidebar_wrapper">

                                    <div class="prs_vp_right_slider">

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/scene_cover.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/scene_cover.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                         <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid1.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid1.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid2.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid2.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div class="has-media-detail">
                                            <img class="rounded" src="{{ asset('img/vid3.jpg')}}"  alt="{{ programme.name|lower|title }}">
                                            <div class="media-overlay"></div>

                                            <a href="{{ asset('img/vid3.jpg')}}" class="venobox" data-gall="myGallery">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        {% else %}

                            <div class="alert alert-light" role="alert">
                                <h6 class="alert-heading">
                                    {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                </h6>
                              
                                {#<p>
                                    Faites une requete de modification pour cette section.
                                </p>
                              
                                <hr>
                                <p class="mb-0">
                                    <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>#}
                            </div>

                        {% endif %}
                    </div>
                </section>
            </div>
        </div>


        <div class="row justify-content-end mb-5">
            <div class="col-md-12 col-sm-12">
                <section class="block has-carousel animation-top " id="other-movies">
                    <div class="block-header">
                        <h3 class="block-title mblock-title mblock-title-info">
                            {{'A voir egalement'|trans()}}
                        </h3>
                        <br><br>

                        <div style="margin-left: auto;" class="d-flex">
                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                                <i class="fas fa-angle-left"></i>
                            </a>

                            <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="block-content" >
                        <div class="text-left owl-carousel">
                            
                            {% for item in otherMovies %}
                                <div >
                                    <div class="position-relative has-media-detail d-block vid-hover">
                                        {% if item.portraitImg %}
                                            <img  src="{{ asset('upload/public/'~item.portraitImg) }}"  alt="{{ item.name|lower|title }}">
                                        {% else %}
                                            <img alt="" src="{{ asset('img/vignette.png')}}"  alt="">
                                        {% endif %}

                                        <div class="media-overlay"></div>

                                        <div class="media-btn-wrapper">
                                            <ul class="d-block">
                                                <li>
                                                    <a data-vbtype="video" href="{{ item.trailer }}" class="{{ item.trailer ? '' : 'my-disabled' }} venobox movie-trailer-link" >
                                                        {{ 'Bande annonce'|trans({},'movies') }}
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('movie_index',{'slug':item.slug})}}" class="movie-link">
                                                        {{ 'Details'|trans({},'movies') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="movie-f d-none d-md-flex">
                                            <h2 class="text-truncate movie-name" >
                                                {{ item.name|lower|title }} 
                                            </h2>

                                            {#<small class="d-none d-md-block movie-rank">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </small>#}
                                        </div>
                                    
                                    </div>
                                </div>
                            {% else %}
                                 <div class="alert alert-light" role="alert">
                                    <h6 class="alert-heading">
                                        {{ "Information indisponible pour ce programme"|trans({},"catalogue") }}
                                    </h6>
                                
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </div>

    {#<div class="row justify-content-end bg-light">
        <div class="col-md-12 col-sm-12">
            <section class="block has-carousel animation-top bg-light" id="other-movies">
                <div class="block-header">
                    <h3 class="block-title">
                        {{'A voir egalement'|trans()}}
                    </h3>

                    <div style="margin-left: auto;" class="d-flex">
                        <a href="" class="bg-circle coa-bg-secondary slide-nav nav-p">
                            <i class="fas fa-angle-left"></i>
                        </a>

                        <a href="" class="bg-circle coa-bg-secondary slide-nav nav-n ml-1">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="block-content" >
                    <div class="text-left owl-carousel">
                        
                        {% for i in 0..5 %}
                            <div >
                                <div class="position-relative has-media-detail d-block vid-hover">
                                    <img  src="{{ asset('img/'~random(['other-movie-1','other-movie-2','other-movie-3','other-movie-4','other-movie-5','other-movie-6','other-movie-7'])~'.jpg')}}" >

                                    <div class="media-overlay"></div>

                                    <div class="media-btn-wrapper">
                                        <ul class="d-block">
                                            <li>
                                                <a href="" class="to-overlay">
                                                    {{ 'Bande annonce'|trans({},'movies') }}
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('movie_index',{'slug':random(1000)})}}">
                                                    {{ 'Details'|trans({},'movies') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    {#<script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>

    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/slimscroll/jquery.slimscroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/movie-single/manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/Voting.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/movie-single/index.js','js') }}"></script>#}

    {% javascripts 
        'lib/owlcarousel/dist/owl.carousel.min.js' 
        'js/main-menu-manager.js' 
        'lib/venobox/venobox.min.js' 
        'lib/slimscroll/jquery.slimscroll.js' 
        'js/admin/manager.js' 
        'js/movie-single/manager.js' 
        'js/plugins/Voting.js' 
        'js/movie-single/index.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
