{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

 {% set queryParams = app.request.query.all %}
 {% set queryParams2 = app.request.query.all %}

{% if (app.request.query.get('order_name') == 'asc' or not app.request.query.get('order_name')) %}
    {% set queryParams = queryParams|merge({order_name: "desc"}) %}
{% else %}
    {% set queryParams = queryParams|merge({order_name: "asc"}) %}
{% endif %}

{% if (app.request.query.get('order_year') == 'asc' or not app.request.query.get('order_year')) %}
    {% set queryParams2 = queryParams2|merge({order_year: "desc"}) %}
{% else %}
    {% set queryParams2 = queryParams2|merge({order_year: "asc"}) %}
{% endif %}

{% set has_url_cat = app.request.query.get('category') %}
{% set has_url_genre = app.request.query.get('genre') %}

{% block title %}
    {% if has_url_cat %}
        {% for item in categories if item.slug == has_url_cat %}
            {{item.name|upper}} 
        {% else %}
            {% if app.request.getLocale() == 'en' %}
                Recent entries in Côte Ouest's audiovisual catalogue
            {% else %}
                Dernières entrées du catalogue Audiovisuel de Côte Ouest
            {% endif %}
        {% endfor %}
    {% else %}
        {% if app.request.getLocale() == 'en' %}
            Recent entries in Côte Ouest's audiovisual catalogue
        {% else %}
            Dernières entrées du catalogue Audiovisuel de Côte Ouest
        {% endif %}
    {% endif %}

    
{% endblock %}

{% block meta_description %}

    {% if app.request.getLocale() == 'en' %}
        <meta name="description" content="Côte Ouest has a catalogue of more than 22,000 hours of programming that include three pillars: African series, telenovelas, and studio television series">
    {% else %}
        <meta name="description" content="Côte Ouest  possède un catalogue de plus de 22 000 heures de programmes dont les trois piliers sont les séries africaines, les télénovelas et les séries studios">
    {% endif %}

  
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/page-3.css','css') }}">

    <style>
        header #master-cover{
            height: 200px;
            background-image: url("{{asset('img/bannieres/slim/'~random(['the-river.jpg','mr-brau.jpg','edge-of-desire.jpg']))}}"); 
            /* background-image: url("{{asset('img/illustrator-banner.jpg')}}"); */
        }

        

        form input:focus[type], form select:focus{
            outline:none;
            box-shadow:none;
        }

        .search-text::before{
            position: absolute;
            height: 30px;
            width: 30px;
            background: none;
            content: "\f002";
            border-radius: 50%;
            pointer-events: none;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #6c757d;
            font-weight: 600;
            font-family: Font Awesome\ 5 Free;
            font-size: 14px;
        }

        .search-text input[type=text]{
            border-radius: 20px;
            padding-left: 30px;
        }

        body #infinite-loading{
            display: none;
        }

        body.infinite-scroll-active #infinite-loading{
            display: block;
        }

        .has_category{
            background: rgba(0,0,0,.6) !important;
        }

        

    </style>

    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />

{% endblock %}



{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}

        <div id="master-cover"></div>
        <div id="master-cover-overlay" class="{{app.request.query.get('category') or  app.request.query.get('genre') ? 'has_category' : ''}}"></div>

       
        <div id="gender-print">

            {% if has_url_cat %}
                {% for item in categories if item.slug == has_url_cat %}
                    <h1 class="display-4 text-light">
                        {{item.name|upper}} 
                        {% if has_url_genre %}
                            {% for item in genres if item.slug == has_url_genre %}
                                <small style="font-size:11px;text-shadow:none">{{item.name|upper}}</small>
                            {% endfor %}
                        {% endif %}
                    </h1>
                {% endfor %}
            {% elseif has_url_genre %}
                {% for item in genres if item.slug == has_url_genre %}
                    <h1 class="display-4 text-light">{{item.name|upper}}</h1>
                {% endfor %}
            {% else %}
                {#<h1 class="display-4 text-light">Programmes</h1>#}
            {% endif %}
        </div>
        
    </header>

    <section class="block animation-top bg-light mt-0 pt-4 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12">
                    
                    {{ form_start(form,{"method":"GET"}) }}
                        <legend class="text-muted">
                            {{'Recherche detaillée'|trans({},'catalogue')}} 

                            {% if app.request.query.all()|length %}
                                <a style="font-size:12px" data-toggle="tooltip" data-placement="top" title="{{'vider les champs'|trans()}}" href="{{ path('movie_index') }}"  class="badge badge-secondary ">
                                    <i class="fas fa-trash"></i>  {{'Vider'|trans()}}
                                </a>
                            {% endif %}
                        </legend>

                        <div class="row">

                            <div class="col-md-4 col-sm-6">
                                <div class="form-group search-text" >
                                    {{ form_widget(form.name, {"attr":{"class":"form-control-sm","placeholder":'Nom du programme'|trans({},'catalogue'),"autocomplete":"off"}}) }}

                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">

                                <div class="form-group">
                                    {{ form_widget(form.category, {"attr":{"class":"form-control-sm custom-select","placeholder":'Catégorie'|trans({},'catalogue')}}) }}
                                   
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">

                                    {{ form_widget(form.genre, {"attr":{"class":"form-control-sm custom-select","placeholder":'Genre'|trans({},'catalogue')}}) }}
                                     
                                </div>
                            </div>

                             <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.country, {"attr":{"class":"form-control-sm custom-select","placeholder":'Pays'|trans({},'catalogue')}}) }}

                                    
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.available_version, {"attr":{"class":"form-control-sm custom-select","placeholder":'Version disponible'|trans({},'catalogue')}}) }}
                                </div>

                            </div>

                            <input type="hidden" value="google" name="_search_mode">
                           
                            {#<div class="col-md-2 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.language, {"attr":{"class":"form-control-sm custom-select","placeholder":'Langue'|trans({},'catalogue')}}) }}
                                </div>
                            </div>#}

                            {#<div class="col-md-2 col-sm-6">
                                <div  class="form-group">
                                    {{ form_widget(form.mention, {"attr":{"class":"form-control-sm custom-select","placeholder":'Définition'|trans({},'catalogue')}}) }}
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">
                                <div  class="form-group">
                                    {{ form_widget(form.producer, {"attr":{"class":"form-control-sm custom-select","placeholder":'Producteur'|trans({},'catalogue')}}) }}
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">
                                <div  class="form-group">
                                     {{ form_widget(form.director, {"attr":{"class":"form-control-sm custom-select","placeholder":'Réalisateur'|trans({},'catalogue')}}) }}
                                </div>
                            </div>
                               

                          
                            <div class="col-md-2 col-sm-6">
                                
                            </div>#}

                           
                           

                            {#<div class="col-2">
                                <div class="form-group">
                                    {{ form_widget(form.in_theatres, {"attr":{"class":"form-control-sm"},"label":"à l'affiche"|trans({},'catalogue')}) }}

                                </div>
                            </div>#}


                            <div class="col-md-2 col-sm-12">
                                <button type="submit" class="btn btn-sm btn-secondary btn-block">
                                    <i class="fas fa-search"></i> {{'Recherche'|trans({},'catalogue')}}
                                </button>
                            </div>
                        </div>   
                   </form>
                </div>
            </div>
        </div>
    </section>

    <section class="block  animation-right" style="min-height: 800px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12">
                    
                    <div class="row">
                        <div class="col-md-4">
                            <aside>
                                <h3 class="block-title mblock-title  mblock-title-info">{{'Catégories'|trans({},'catalogue')}}</h3>

                                <div class="mt-4">

                                    <nav class="navbar navbar-expand navbar-light bg-info">
                                      
                                        <div class="collapse navbar-collapse" id="navbarNav">
                                            <ul class="navbar-nav flex-column w-100 ">
                                                {% for item in categories %}
                                                    <li class="nav-item active ">
                                                        <a class="nav-link text-white" href="{{ path('category_index',{'slug':item.slug}) }}">
                                                        <!--a class="nav-link text-white" href="?category={{item.slug}}"-->
                                                            {{item.name|lower|title}} 
                                                            <span class="sr-only">(current)</span>

                                                            {#<span class="float-right badge badge-light">{{item.movieNbr}}</span>#}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                
                                {% if has_url_cat or has_url_genre %}
                                    <div class="mt-4" >
                                        {% for tag in genres %}
                                            {% if has_url_cat %}
                                                <a href="?genre={{tag.slug}}" class="badge badge-pill badge-info p-2 mb-1">
                                            {% else %}
                                                <a href="{{ path('genre_index',{'slug':tag.slug}) }}" class="badge badge-pill badge-info p-2 mb-1">
                                            {% endif %}
                                                {{tag.name|lower|title}}{#<span class="badge badge-light">{{tag.movieNbr|lower|title}}</span>#}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="mt-4 alert alert-light" style="position:sticky;top: 4rem;overflow-y: auto;">
                                    <small>
                                        {{"programmes.legal.mention"|trans({},"catalogue")}}
                                    </small>
                                </div>
                               
                            </aside>
                        </div>

                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-12 col-md-4 col-sm-4">
                                    {{'Trier par'|trans({},'catalogue')}}...
                                </div>

                                <div class="col-12 col-md-8 col-sm-4 d-flex flex-row justify-content-end align-items-end">
                                   
                                    <a href="?{{queryParams|url_encode}}" class="text-secondary">
                                         {{'Ordre alphabetique'|trans({},'catalogue')}}
                                
                                        {% if (app.request.query.get('order_name') == 'asc' or not app.request.query.get('order_name') ) %}
                                            <i class="fas fa-sort-alpha-down"></i>
                                        {% else %}
                                            <i class="fas fa-sort-alpha-up"></i>
                                        {% endif %}
                                    </a>

                                    {% if app.request.query.has('order_name') %}
                                        <a data-toggle="tooltip" data-placement="top" title="{{'annuler le tri'|trans()}}" href="{{ path('movie_index') }}"  class="text-danger ">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                {#<div class="col-6 col-md-4 col-sm-4">
                                   
                                    <a href="?{{queryParams|url_encode}}" class="text-secondary">
                                         {{'Ordre alphabetique'|trans({},'catalogue')}}
                                
                                        {% if (app.request.query.get('order_name') == 'asc' or not app.request.query.get('order_name') ) %}
                                            <i class="fas fa-sort-alpha-down"></i>
                                        {% else %}
                                            <i class="fas fa-sort-alpha-up"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                
                                <div class="col-6 col-md-4 col-sm-4">
                                   
                                    <a href="?{{queryParams2|url_encode}}" class="text-secondary">
                                        {{'Ordre chronologique'|trans({},'catalogue')}}
                                        <i class="fas fa-sort"></i>
                                    </a>

                                    {% if app.request.query.has('order_name') %}
                                        <a data-toggle="tooltip" data-placement="top" title="{{'annuler le tri'|trans()}}" href="{{ path('movie_index') }}"  class="text-danger ">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    {% endif %}
                                </div>#}

                                
                            </div>

                            <div class="mt-4" id="data-container">
                                <div class="row">


                                    {{ include('movie/search-movies-render.html.twig') }}

                                    {% if programmes|length == 0 %}
                                        <div class="col-12">
                                            <div class="alert alert-light" role="alert">
                                                <h4 class="alert-heading">Oops</h4>
                                              
                                                <p>
                                                    {{ "Aucun resultat disponible pour ces critères de recherche"|trans({},"movies") }}.
                                                </p>
                                              
                                                <hr>
                                                <p class="mb-0">
                                                   <a data-toggle="tooltip" data-placement="top" title="{{'vider les champs'|trans()}}" href="{{ path('movie_index') }}"  class="btn btn-sm btn-light text-secondary">
                                                        <i class="fas fa-trash"></i>  {{'Vider'|trans()}}
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                
                                {#<div class="w-100"></div>

                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" title="{{'precedent'|trans({},'movies')}}" aria-label="{{'precedent'|trans({},'movies')}}">
                                                <span aria-hidden="true">
                                                    &laquo;</span>
                                                <span class="sr-only">
                                                {{'precedent'|trans({},'movies')}}</span>
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="">
                                                1
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="">
                                                2
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="">
                                                3
                                            </a>
                                        </li>

                                        <li class="page-item disabled">
                                            <a class="page-link" title="{{'suivant'|trans({},'movies')}}" href="" aria-label="{{'suivant'|trans({},'movies')}}">
                                                <span aria-hidden="true">
                                                    &raquo;
                                                </span>
                                                <span class="sr-only">
                                                {{'suivant'|trans({},'movies')}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>#}

                                <div style="text-align:center" id="infinite-loading">
                                    <i  class="fa fa-spinner fa-spin fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    {#<script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>
    
    <script src="{{ asset('js/admin/manager.js','js') }}"></script>
    <script src="{{ asset('js/programmes/manager.js','js') }}"></script>
    <script src="{{ asset('js/programmes/index.js','js') }}"></script>
    <script src="{{ asset('js/plugins/SlimBanerSlide.js','js') }}"></script>#}


    {% javascripts 
        'js/main-menu-manager.js'
        'lib/venobox/venobox.min.js'
        'js/admin/manager.js'
        'js/programmes/manager.js'
        'js/programmes/index.js'
        'js/plugins/SlimBanerSlide.js'

    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

