{% extends 'base.html.twig' %}


{% block title %}
   Côte Ouest Audiovisuel  | Login
{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />

    <style>
        header#header{
            height: auto !important;
            position: static;
        }
    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}
    </header>

    <div class="container" style="margin-top:100px;margin-bottom:100px">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7 p-0">

                <div class="block-header">
                    <h3 class="block-title">
                        Production à la une
                    </h3>
                </div>

                <a class="venobox" data-vbtype="video" data-autoplay="true" href="{{ inTheather.trailer }}" >

                    {% if inTheather %}

                        {% if inTheather.coverImg %}
                            <div class="in-theather-cover self-vid-hover" style="background-image:url( {{ asset('upload/public/'~inTheather.coverImg)}})" ></div>
                        {% else %}
                            <div class="in-theather-cover self-vid-hover" style="background-image:url( {{ asset('upload/public/vignette-cover')}})" ></div>
                        {% endif %}
                       
                    {% else %}
                       <div class="in-theather-cover"></div>
                    {% endif %}


                  

                    <i class="video-icon video-popup-control"></i>

                    <div class="prs_upcom_movie_video_overlay"></div>

                    <div class="prs_upcom_video_img_cont_over">
                        <ul>
                            <li>
                                {% for i in inTheather.genres|slice(0,2) %}
                                    {{ i.genre.name|lower|title }}{{ loop.last ? '' : ','}}
                                {% endfor %}
                            </li>
                            <li>Note :&nbsp;&nbsp;
                                <span class="text-info">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                
                            </li>
                        </ul>
                        <h2>
                            {% if inTheather %}
                                {{ inTheather.name|lower|title }}
                            {% else %}
                                {{ random(['the visit','the wild'])}}
                            {% endif %}
                        </h2>
                        <p>Sortie en salle le, 25 decembre 2018</p>
                    </div>
                </a>
            </div>

            <div class="col-md-5 shadow-effect2 bg-white">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('security_login') }}" method="post">
                    <legend>{{ 'Se connecter'|trans({},'login') }}</legend>

                    <div class="form-group">
                        <label for="login-email">Email</label>

                        <div class="position-relative">
                            <span class="fas fa-at position-absolute text-secondary" style="right: 5px;top:5px;"></span>

                            <input required="" type="email" class="form-control form-control-sm pr-4" id="login-email" placeholder="votre email" name="_username" value="{{ last_username }}">

                        </div>

                    </div>
                    
                    <div class="form-group">
                        <label for="login-pwd">{{ 'Mot de passe'|trans({},'login') }}</label>

                        <div class="position-relative">
                            <span class="fas fa-lock position-absolute text-secondary" style="right: 5px;top:5px;"></span>

                            <input required="" type="password" class="form-control form-control-sm pr-4" id="login-pwd" placeholder="Mot de passe" name="_password">

                        </div>
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary">
                        {{ 'sign.in'|trans({},'login') }}
                    </button>

                    <hr>
                    <div style="font-size: 13px">
                        <p>
                            {{ 'connect.blem'|trans({},'login') }}
                            <br>
                            <a href="">{{ 'cliquez ici'|trans({},'login') }}</a>
                        </p>
                        

                        <p>
                            {{ 'no.account'|trans({},'login') }}
                            
                            <br>
                            <a href="{{ path('security_registration') }}">
                                {{ 'inscrivez-vous'|trans({},'login') }}
                            </a>
                        </p>
                        
                    </div>

                    
                    
                        
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>

    <script>
        $(document).ready(function($){
            /* 09. VENOBOX JS */
            $('.venobox').venobox({
                numeratio: true,
                titleattr: 'data-title',
                titlePosition: 'top',
                spinner: 'wandering-cubes',
                spinColor: '#007bff',
                autoplay:true
            });
        });
    </script>
{% endblock %}


::::::::::::::::::::::::::::::#}




{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />

    {#<style>
        header#header{
            height: auto !important;
            position: static;
        }
    </style>#}

    <style>

        header #master-cover{
            height: 200px;
            background-color: #f6f6f6;
            overflow: hidden;
            background: url("{{asset('img/illustrator-banner.jpg')}}") no-repeat left top / cover;
        }

        @media (max-width: 576px) { 
            #master-cover {
                height: 258px !important;
            }
        }

    </style>

{% endblock %}

{% block body %}
   
     <header id="header">
        {{ include('main-menu.html.twig') }}
        <div id="master-cover"></div>
    </header>

    <div class="container" style="margin-top:50px;margin-bottom:100px">
        <div class="row justify-content-center align-items-center" style="height:60vh">

            <div class="col-md-4 shadow bg-white p-4">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('security_login') }}" method="post">
                    <legend>{{ 'Se connecter'|trans({},'login') }}</legend>
                    <hr>

                    <div class="form-group">
                        <label for="login-email">Email</label>

                        <div class="position-relative">
                            <span class="fas fa-at position-absolute text-secondary" style="right: 5px;top:5px;"></span>

                            <input required="" type="email" class="form-control form-control-sm pr-4" id="login-email" placeholder="votre email" name="_username" value="{{ last_username }}">

                        </div>

                    </div>
                    
                    <div class="form-group">
                        <label for="login-pwd">{{ 'Mot de passe'|trans({},'login') }}</label>

                        <div class="position-relative">
                            <span class="fas fa-lock position-absolute text-secondary" style="right: 5px;top:5px;"></span>

                            <input required="" type="password" class="form-control form-control-sm pr-4" id="login-pwd" placeholder="Mot de passe" name="_password">

                        </div>
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary">
                        {{ 'sign.in'|trans({},'login') }}
                    </button>

                    <hr>
                    <div style="font-size: 13px">
                        <p>
                            {{ 'connect.blem'|trans({},'login') }}
                            <br>
                            <a href="">{{ 'cliquez ici'|trans({},'login') }}</a>
                        </p>
                        

                        <p>
                            {{ 'no.account'|trans({},'login') }}
                            
                            <br>
                            <a href="{{ path('security_registration') }}">
                                {{ 'inscrivez-vous'|trans({},'login') }}
                            </a>
                        </p>
                        
                    </div>
 
                </form>
            </div>

           
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>

    <script>
        $(document).ready(function($){
            /* 09. VENOBOX JS */
            $('.venobox').venobox({
                numeratio: true,
                titleattr: 'data-title',
                titlePosition: 'top',
                spinner: 'wandering-cubes',
                spinColor: '#007bff',
                autoplay:true
            });
        });
    </script>
{% endblock %}
