{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('lib/venobox/venobox.css') }}" type="text/css" media="screen" />


    <style>

        header #master-cover{
            height: 200px;
            background-color: #f6f6f6;
            overflow: hidden;
            background: url("{{asset('img/illustrator-banner.jpg')}}") no-repeat left top / cover;
        }

        @media (max-width: 576px) { 
            #master-cover {
                height: 258px !important;
            }
        }

        #user-profil{
            margin-top: 10px;
            height: 270px;
            text-align: center;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;            
        }

        
        #user-profil-image{
            height: 250px;
            overflow: hidden;
            background: url("{{ asset('img/vignette.png') }}") no-repeat center center / cover;
            background-color: #ffffff;
        }

        .biography{
            background: #ffffff;
            padding: 10px;
        }
    </style>

{% endblock %}

{% block body %}
   
    <header id="header">
        {{ include('main-menu.html.twig') }}
        <div id="master-cover"></div>
    </header>

    <div class="container" style="margin-top:10px">

        <div class="row">

            <div class="col-md-3">
                <div id="user-profil" class="d-none d-md-block">
                    <div class="card text-left border-0" >

                        <div id="user-profil-image" 
                        
                        {% if profil.image %}
                            style="background-image:url({{ asset('upload/public/'~profil.image) }});" 
                        {% endif %}
                        >
                            <h1 class="text-hide">{{ profil.name|lower|title }}</h1>
                        </div>

                        <div class="card-body pl-2 pr-2">
                            {#<h3 class="text-nowrap text-truncate" >
                                {{ profil.name|lower|title }}
                            </h3>#}

                            <hr>
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td>
                                        <strong>{{'Pays'|trans({},'catalogue')}}</strong>
                                    </td>

                                    <td class="text-right">
                                        {% for i in profil.countries %}
                                            <div class="badge badge-info">
                                                {{i.country.name|lower|title}}
                                            </div>
                                        {% else %}
                                            -
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <section style="min-height:600px;">
                    <h1 class="text-nowrap text-truncate">
                        {{ profil.name|lower|title }}
                    </h1>
                    <hr>

                    <div class="biography shadow-effect2">

                        {% if profil.description %}
                            {{ profil.description|md2html }}
                        {% else %}
                            <h2>Biographie</h2> 

                            <div class="alert alert-light p-0" role="alert">
                                <h5 class="alert-heading">Information indisponible</h5>
                              
                                <p>
                                    Faites une requete de modification pour cette section.
                                </p>

                                <hr>
                                <p class="mb-0">
                                    <a href="{{ path('contact_index') }}"  class="btn btn-sm btn-light text-secondary">
                                        Cliquez ici.
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

        <div class="row  mb-5">
            <div class="col-md-12 col-sm-12">
                {% if movies|length %}
                    <section class="block has-carousel animation-top " style="padding:0px">
                        <div class="block-header">
                            <h3 class="block-title mblock-title mblock-title-info">
                                {{'Filmographie'|trans()}}
                            </h3>
                            <br><br>

                            <div style="margin-left: auto;" class="d-flex">
                                <a href="" class="bg-circle bg-info slide-nav nav-p">
                                    <i class="fas fa-angle-left"></i>
                                </a>

                                <a href="" class="bg-circle bg-info slide-nav nav-n ml-1">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="block-content" >

                            <div class="text-left owl-carousel">
                                
                                {% for item in movies %}
                                    <div >
                                        <div class="position-relative has-media-detail d-block vid-hover">
                                            {% if item.portraitImg %}
                                                <img  src="{{ asset('upload/public/'~item.portraitImg) }}"  alt="{{ item.name|lower|title }}">
                                            {% else %}
                                                <img alt="" src="{{ asset('img/vignette.png')}}"  alt="">
                                            {% endif %}

                                            <div class="media-overlay"></div>

                                            <div class="media-btn-wrapper">
                                                <ul class="d-block">
                                                    <li>
                                                        <a data-vbtype="video" href="{{ item.trailer }}" class="{{ item.trailer ? '' : 'my-disabled' }} venobox movie-trailer-link" >
                                                            {{ 'Bande annonce'|trans({},'movies') }}
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="{{ path('movie_index',{'slug':item.slug})}}" class="movie-link">
                                                            {{ 'Details'|trans({},'movies') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="movie-f d-none d-md-flex">
                                                <h2 class="text-truncate movie-name" >
                                                    {{ item.name|lower|title }} 
                                                </h2>

                                                {#<small class="d-none d-md-block movie-rank">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </small>#}
                                            </div>
                                        
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                 {% else %}
                     
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('lib/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/venobox/venobox.min.js') }}"></script>
    <script src="{{ asset('js/main-menu-manager.js','js') }}"></script>

    <script>
        $(document).ready(function($){

            let mainMenu = $("#master-menu");
            var sections = $(".block");
            var win = $(window);

            win.on({
                scroll:function(e){

                    let pos = $(this).scrollTop();
                    if(pos >= 200){
                        mainMenu.addClass('active');
                    }
                    else if(pos <= 120){
                        mainMenu.removeClass('active');
                    }
                    
                    sections.each(function(i,el){
                        let obj = $(el);
                        let top = obj.offset().top;
                        let delta = top - pos;
                        if(delta <= 600 && !obj.hasClass('section-animation')){
                            obj.addClass('section-animation');
                        }
                    });
                }
            });


            $(".has-carousel").each(function(i,el){
                let obj = $(el);
                let owl = obj.find(".owl-carousel");

                obj.find(".slide-nav.nav-n, .slide-nav.nav-p").on({
                    click:function(e){
                        e.preventDefault();
                        if($(this).hasClass('nav-n')){
                            owl.trigger('next.owl.carousel');
                        }
                        else{
                            owl.trigger('prev.owl.carousel');
                        }
                    }
                });

                let opts = {
                    loop:false,
                    items:6,
                    margin:10,
                };

                owl.owlCarousel(opts);
            });


            /* 09. VENOBOX JS */
            $('.venobox').venobox({
                numeratio: true,
                titleattr: 'data-title',
                titlePosition: 'top',
                spinner: 'wandering-cubes',
                spinColor: '#007bff',
                autoplay:true,
            });



        });
    </script>

{% endblock %}
